/**课程相关**/
.counsellor-article-info{
	margin-bottom: 0.6rem;
	padding-top: 0;
}
.counsellor-article-info .list{
	padding-top: 44px;
	padding-bottom: 1rem;
	color: #C8C8C8;
}
.counsellor-article-info .eve-form{
	margin-top: 10px;
}
.counsellor-article-info .mui-media-body h3 {
	margin: 0 auto 4px auto;
	font-weight: normal;
	font-size: 16px;
	color: #656565;
}
.counsellor-article-info .mui-media-body .address {
	font-size: 14px;
}
.counsellor-article-info .mui-media-body .time {
	font-size: 12px;
}
.counsellor-homepage-content{
	padding: 0;
}
.mui-table-view .mui-media-object{
	max-width: 72px; 
	height: 72px;
}
.mui-media-text {
	color: #646464;
	font-size: 15px;
}
.mui-media-author {
	font-size: 13px;
	margin-top: 5px;
} 
.counsellor-homepage-content{
	margin-bottom: 50px;
}
.mui-media-body{
	margin-left: 0;
}
.counsellor-article-info .mui-table-view .mui-media-object {
	height: auto;
	line-height: normal;
}
.mui-table-view .mui-media-object {
	max-width: initial;
}

.mui-table-view-cell > a.cell-flex:not(.mui-btn) {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 0;
	border: none;
	flex-direction: row;
	justify-content: space-between;
}
.btn-bg-orange, .eve {
	display:block;
	border-radius: 8px;
	background: #F2A740;
	color: #fff;
	padding: 0 3px;
}
.btn-bd-orange,.return {
	display: block;
	border-radius: 8px;
	border: 1px solid #F2A740;
	color: #F2A740;
	padding: 0 2px 0 3px;
	margin-top: 10px;
}
.btn-bg-pink{
	display:block;
	border-radius: 10px;
	background: #DC635F;
	color: #fff;
	padding: 0 5px;
}

/**用户列表**/
.member-header{
	justify-content: center;
	align-items: center;
}
.user-header-img{
	width: 4rem;
	height: 4rem;
}
.user-header-img img{
	width: 100%;
}
.user-info-body{
	margin-left: 12px;
	color: #fff;
	font-size: 16px;
	text-align: left;
}
.user-info-body p span{
	font-size: 12px;
}
.user-info-body h2{
	display: inline-block;
	font-size: 24px;
}
.user-info-body p.info{
	display: inline-block;
}