<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		 <link href="../../css/style.css" rel="stylesheet" />
		 <link rel="stylesheet" href="../../css/widgets.css" />
		 <!--<link rel="stylesheet" href="../../css/moon-style.css" />-->
		<style>
			.mui-table-view .mui-media-object.mui-pull-left{
    			margin-right: 15px;
    		}
    		.mui-table-view .mui-media-object{
		    width: 50px; 
    			/*height: 50px;*/
    		}
    		.mui-media-text {
    			color: #646464;
    			font-size: 15px;
    		}
    		.mui-media-author {
    			font-size: 13px;
    			margin-top: 5px;
    		} 
    		.mui-icon .mui-badge{
			    height: 10px;
			    margin-left: -8px;
    		}
		</style>
	</head>

	<body>
		<header class="page-header">
	    	  <i id="all_clander" class="header-right txt-func action-webview" data-webview="_www/view/msg/group.html">通讯录</i>
	      <div class="header-title">会话</div>
	    </header>
	    <div class="container" id="container" style="margin-bottom: 50px;"> 
	       <section class="widgets-category-nav section-white">
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron session-list">
					<div class="mui-icon mui-spinner"></div>
					
				  </ul>		
		        </div>
		      </section>
	    </div>
		<nav class="mui-bar bbc-bar-tab" >
	      <a class="bbc-tab-item " data-webview="_www/view/index.html">
	        <span class="mui-icon bbc-icon bbc-icon-home"></span>
	        <span class="mui-tab-label">首页</span>
	      </a>
	      <a class="bbc-tab-item" data-webview="_www/view/counsellor/index.html">
	        <span class="mui-icon bbc-icon bbc-icon-list"></span>
	        <span class="mui-tab-label">咨询</span>
	      </a>
	      <a class="bbc-tab-item bbc-active" >
	        <span class="mui-icon bbc-icon bbc-icon-message"></span>
	        <span class="mui-tab-label">消息</span>
	      </a>
	      <a class="bbc-tab-item" data-webview="_www/view/member/member.html">
	        <span class="mui-icon bbc-icon bbc-icon-user-empty"></span>
	        <span class="mui-tab-label">我的</span>
	      </a>
	   </nav>
	   <!--<nav class="mui-bar bbc-bar-tab">
	      <a class="bbc-tab-item " data-webview="_www/view/index.html">
	        <span class="icon-home iconmoon"></span>
	        <span class="mui-tab-label">首页</span>
	      </a>
	      <a class="bbc-tab-item" data-webview="_www/view/counsellor/index.html">
	        <span class="icon-consult iconmoon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
	        <span class="mui-tab-label">咨询</span>
	      </a>
	      <a class="bbc-tab-item bbc-active" >
	        <span class="icon-message iconmoon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
	        <span class="mui-tab-label">消息</span>
	      </a>
	      <a class="bbc-tab-item " data-webview="_www/view/member/member.html">
	        <span class="icon-mine iconmoon"></span>
	        <span class="mui-tab-label">我的</span>
	      </a>
	    </nav>-->
		<script src="../../js/zepto.js"></script>
	    <script src="../../js/mui.min.js"></script>
	    <script src="../../js/template.min.js"></script>
	    <script src="../../config.js"></script>
	    <script src="../../js/app.js"></script>
	    <script src="../../js/im/webim.config.js"></script>
	    <script src="../../js/im/strophe-1.2.8.js"></script>
	    <script src="../../js/im/websdk-1.4.13.js"></script>
	    <script src="../../js/im/im.js"></script>
	    <script id="session_list" type="text/html">
	    		<% for(var i=0; i<list.length; i++) { %>
		    		<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/msg/chat.html" data-webparam = '{"jid":"1", "username":"<%= list[i].nm %>" }'>
					<img class="mui-media-object mui-pull-left" src="<%= list[i].receiverAvatar %>">
					<div class="mui-media-body">
						<%= list[i].nm %>
						<p class='mui-ellipsis mui-media-text'><%= list[i].msg %></p>
					</div>
					<% if(list[i].fls){ %>
					<span class="mui-badge mui-badge-danger" style="height: 12px;"></span>
					<% } %>
				</li> 
			<% } %>
	    	</script>
		<script type="text/javascript" charset="utf-8">
		var state = app.getState();
		 mui.plusReady(function(){
			if(state.token){
				var token = plus.storage.getItem('webim_'+state.account)
				var options = {
				    apiUrl: WebIM.config.apiURL,
				    user: state.account,
				    accessToken: token,
				    appKey: WebIM.config.appkey
				};
				conn.open(options);
				//获得历史聊天
			 	var keyNames=[];
				var values=[];
				var sessionList = [];
				var res = [];
				var val = [];
				var scount = 0;
				var numKeys=plus.storage.getLength();
	//			log(numKeys)
				for(var i=0; i<numKeys; i++) {
					keystr = plus.storage.key(i);
	//				console.log(keystr) 
					if(keystr.indexOf(state.account+"msgbox_")>=0){
						if(keystr.indexOf("_flag")>=0){
							continue
						}
	//					keyNames.push(keystr); 
	//					values.push(plus.storage.getItem(keystr))
						val = JSON.parse(plus.storage.getItem(keystr));
						lval = val.pop()
						log(lval)
						var flag = plus.storage.getItem(keystr+'_flag')||0;
						sessionList.push({
//							nm:keystr.split('_')[1],
							nm:lval['nickname'],
							receiverAvatar:lval['body']['receiverAvatar'],
							msg:lval['body']['msg'],
							fls:flag
						})
					}
				}
				if(sessionList){
					res = {
						list:sessionList
					}
					$('.session-list').html('')
					var widgets = template('session_list', res);
	            		$('.session-list').append(widgets);
	//          		console.log(widgets)
				}else{
					$('.session-list').html('')
				}
			}else{
				//去登录 
				var faid = plus.webview.currentWebview().id;
                clicked('_www/view/passport/login.html', {
                  'faid': faid
                }, 'slide-in-bottom');
			}
		 	
//			log(sessionList)  
		 	
		 })
		 
		window.addEventListener('refreshmsglist', refreshmsglist);
		function refreshmsglist(){
			//获得历史聊天
		 	var keyNames=[];
			var values=[];
			var sessionList = [];
			var res = [];
			var val = [];
			var scount = 0;
			var numKeys=plus.storage.getLength();
//			log(numKeys)
			for(var i=0; i<numKeys; i++) {
				keystr = plus.storage.key(i);
//				console.log(keystr) 
				if(keystr.indexOf(state.account+"msgbox_")>=0){
					if(keystr.indexOf("_flag")>=0){
						continue
					}
//					keyNames.push(keystr); 
//					values.push(plus.storage.getItem(keystr))
					val = JSON.parse(plus.storage.getItem(keystr));
					lval = val.pop()
					var flag = plus.storage.getItem(keystr+'_flag')||0;
					sessionList.push({
						nm:keystr.split('_')[1],
						receiverAvatar:lval['body']['receiverAvatar'],
						msg:lval['body']['msg'],
						fls:flag
					})
				}
			}
			if(sessionList){
				res = {
					list:sessionList
				}
				$('.session-list').html('')
				var widgets = template('session_list', res);
            		$('.session-list').append(widgets);
//          		console.log(widgets)
			}else{
				$('.session-list').html('')
			}
		}
	 	$('.bbc-tab-item').on('tap', function() {
	        var webview = $(this).data('webview');
	        if(webview) {
	          mui.openWindow({
	            url: webview,
	            id: webview,
	            createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
	            show: {
	              autoShow: true, //页面loaded事件发生后自动显示，默认为true
	              aniShow: 'none'
	            },
	            extras:{
	              refresh: true
	            },
	            waiting: {
	              autoShow: true //自动显示等待框，默认为true
	            }
	          });
		        var openw = plus.webview.getWebviewById(webview);
		        if(openw) {
		          mui.fire(openw,'refresh'); 
		        }
	        }
	      });
		</script>
	</body>

</html>