<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../fonts/iconfont.css" />
	<link rel="stylesheet" href="../../css/message.css" />
	

</head>
<body>
	<header class="page-header nobd">
		<div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center clearfix">
			<i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
			<h1 class="mui-center mui-title">与聊天</h1>
			<a class="mui-right mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
				<img class="avatar hdavatar" src="../../img/face.png" onerror="Javascript:this.src='../../img/widgets_02_19.png' "/>
			</a>
		</div>
	</header>
    <div class="main">
        <div class="main_inner clearfix">
            <div class="panel"></div>
            <div id="chatArea" class="box chat">
                <div class="box_hd"></div>
                <div class="box_bd" id="messageList">
                    <!--<div class="message me">
						<div class="msg-time-content"><span class="time">10:10:08</span></div>
                        <img class="avatar" src="../../img/face-new.png" />
                        <div class="content">
                            <div class="bubble bubble_primary right">
                                <div class="bubble_cont">
                                    <div class="plain">
                                        <pre>吃大餐了吃大餐了</pre>
                                    </div>
                                </div>
								<em>◆</em>
								<span>◆</span>
                            </div>
                        </div>
                    </div>
                    <div class="message">
						<div class="msg-time-content"><span class="time">10:12:20</span></div>
                        <img class="avatar" src="../../img/face.png" />
                        <div class="content">
                            <div class="bubble bubble_default left">
                                <div class="bubble_cont">
                                    <div class="plain">
                                        <pre>(⊙o⊙)…好吧</pre>
                                    </div>
									<em>◆</em>
									<span>◆</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="message me">
						<div class="msg-time-content"><span class="time">10:12:20</span></div>
                        <img class="avatar" src="../../img/face-new.png" />
                        <div class="content">
                            <div class="bubble bubble_primary right">
                                <div class="bubble_cont">
                                    <div class="picture">
                                        <img class="msg-img" src="../../img/heart.jpg">
                                    </div>
                                </div>
								<em>◆</em>
								<span>◆</span>
                            </div>
                        </div>
                    </div>
                    <div class="message">
						<div class="msg-time-content"><span class="time">10:12:20</span></div>
                        <img class="avatar" src="../../img/face.png" />
                        <div class="content">
                            <div class="bubble bubble_default left">
                                <div class="bubble_cont">
                                    <div class="plain">
                                        <pre>下次一起了</pre>
                                    </div>
									<em>◆</em>
									<span>◆</span>
                                </div>
                            </div>
                        </div>
                    </div>-->
 
                </div>
            </div>
        </div>
    </div>
	<div class="box_ft">
		
		<div class="box_ft_hd">
			<a href="javascript:;" class="iconfont icon-yuyindianhua- icon-msg-tel" id="web_wechat_tel"></a>
			<div class="eaitWrap">
				<pre id="editArea" class="editArea" contenteditable="true" style="-webkit-user-select:text"></pre>
			</div>
			<!--<a href="javascript:;" class="web_wechat_face hide" id="web_wechat_face"></a>-->
			<a  class="btn btn_send " id="btn_send">发送</a>
		</div>
		
	</div>
	<script id="msg_list" type="text/html">
		<% for(var i in list) { %>
	    		<div class="message <%if(list[i].isme){%>me<%}%>">
				<div class="msg-time-content"><span class="time"><%= list[i].times %></span></div>
	            <img class="avatar" src="<%= $add_server(list[i].sdavar) %>" onerror="Javascript:this.src='../../img/widgets_02_19.png' "/>
	            <div class="content">
	                <div class="bubble bubble_primary <%if(list[i].isme){%>right<%}else{%>left<%}%> ">
	                    <div class="bubble_cont">
	                        <div class="plain">
	                            <pre><%= list[i].msg %></pre>
	                        </div>
	                    </div>
						<em>◆</em>
						<span>◆</span>
	                </div>
	            </div>
	        </div>
	     <% } %>
	</script>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/im/webim.config.js"></script>
    <script src="../../js/im/strophe-1.2.8.js"></script>
    <script src="../../js/im/websdk-1.4.13.js"></script>
    <script src="../../js/im/webrtc-1.4.13.js"></script>
    <script src="../../js/im/adapter.js"></script>
    <script src="../../js/im/im.js"></script>
    <script>
//		$(function () {
	
	mui.plusReady(function(){
		var userjid = null;
		var state = app.getState();
		var jid = userjid = plus.webview.currentWebview().jid;
		var username  = plus.webview.currentWebview().username;//接收者用户名
		var account  = plus.webview.currentWebview().account;//手机号
		var reciveid = plus.webview.currentWebview().reciveid;//用户ID
		var reciveavar = plus.webview.currentWebview().reciveavar;//用户头像
	    var _editArea = $('#editArea');
	 	$('.mui-title').html('与'+username+'聊天')
	 	$('.hdavatar').html(reciveavar) 
	 	//历史记录
	 	var param = {
	          'method': config.apimethod.hxmsgtwo,
	          'source':config.source,
	          'reciveid': reciveid,
	          'account': state.token
	      }
	      log(param)
	      $.dataRequest(param, function(rs) {
	      	log(rs)
	      	var widgets = template('msg_list', rs);
//	      	console.log(widgets)
	    		$('#messageList').append(widgets);
	      })
	      //更新未读
	      var mparam = {
		          'method': config.apimethod.hxmsgup,
		          'source':config.source,
		          'reciveid': state.token,
		          'account': reciveid
		      }
			  $.dataRequest(mparam, function(rs) {
			      	console.log(rs)
			      })
			//显示隐藏发送按钮
		    var _editAreaInterval;
		    $('#editArea').focus(function () {
		        var _this = $(this), html;
		        _editAreaInterval = setInterval(function () {
		            html = _this.html();
		            if (html.length > 0) {
		                $('#btn_send').show();
		            } else {
		                $('#btn_send').hide();
		            }
		        }, 200);
		    });
		 
		    $('#editArea').blur(function () {
		        clearInterval(_editAreaInterval);
		    });
			
			//发送
//			$('#btn_send').click(function () {
//				$('.box_ft_bd').addClass('hide');
//				var _obj = _editArea.html();
//				if(_obj && _obj!=''){
//					resetMessageArea();
//					sendMsg(_obj);
//				}
//				
//			});
			
		 
		    //显示隐藏表情栏
		//  $('.web_wechat_face').click(function () {
		//      $('.box_ft_bd').toggleClass('hide');
		//      resetMessageArea();
		//  });
		 
		    //切换表情主题
		    $('.exp_hd_item').click(function () {
		        var _this = $(this), i = _this.data('i');
		        $('.exp_hd_item,.exp_cont').removeClass('active');
		        _this.addClass('active');
		        $('.exp_cont').eq(i).addClass('active');
		        resetMessageArea();
		    });
		 
		    //选中表情
		    $('.exp_cont a').click(function () {
		        var _this = $(this);
		        var html = '<img class="' + _this[0].className + '" title="' + _this.html() + '" src="images/spacer.gif">';
		        _editArea.html(_editArea.html() + html);
				$('#editArea').css({'padding':'1px 5px'})
		        $('#btn_send').show();
		    });
		 
		    resetMessageArea();
		 
		 
		    function sendMsg(type,who,str) {
		    		if(type=='receiver'){
		    			var _html='<div class="message "><div class="msg-time-content"><span class="time">10:12:20</span></div>'
		                +'<img class="avatar" src="'+reciveavar+'" /><div class="content">'
		                +'<div class="bubble bubble_primary left">'
		                +'<div class="bubble_cont"><div class="plain"><pre>'+str+'</pre></div><em>◆</em><span>◆</span></div></div></div></div>';
		    		}else{
		    			var _html='<div class="message me"><div class="msg-time-content"><span class="time">10:12:20</span></div>'
		                +'<img class="avatar" src="'+state.avar+'" /><div class="content">'
		                +'<div class="bubble bubble_primary right">'
		                +'<div class="bubble_cont"><div class="plain"><pre>'+str+'</pre></div><em>◆</em><span>◆</span></div></div></div></div>';
		    		}
				
				$('#messageList').append(_html);
				$('#editArea').css({'padding':'5px'})
				_editArea.empty();
				if(type=='receiver'){//接收到信息更新全部
				  var param = {
			          'method': config.apimethod.hxmsgup,
			          'source':config.source,
			          'reciveid': state.token,
			          'account': reciveid
			      }
				  $.dataRequest(param, function(rs) {
				      	console.log(rs)
				      })
				 }else{
				 	var param = {
				          'method': config.apimethod.sendhxmsg,
				          'source':config.source,
				          'reciveid': reciveid,
				          'msg': str,
				          'account': state.token,
				          'status':0
				      }
//				 	log(param);return false;
				      $.dataRequest(param, function(rs) {
				      	console.log(rs)
				      })
				 }

		    }
		 
		    function resetMessageArea() {
		        $('#messageList').animate({ 'scrollTop': 999 }, 500);
		    }
		    //sid rid msg  
		    function setMsg(who,msg){
		    		
		    		var param = {
			          'method': config.apimethod.sendhxmsg,
			          'source':config.source,
			          'reciveid': state.token,
			          'msg': msg,
			          'account': who,
			          'status':0
			      }
			      log(param)
			      $.dataRequest(param, function(rs) {
			      	console.log(rs)
			      })
		    }
			//处理发送
		 	if(state.token){
				var token = plus.storage.getItem('webim_'+state.account)
				var options = {
				    apiUrl: WebIM.config.apiURL,
				    user: state.account,
				    accessToken: token,
				    appKey: WebIM.config.appkey
				};
				conn.open(options);
				setTimeout(function(){
					conn.listen({ 
						onTextMessage : function(message){
						   console.log(JSON.stringify(message));
					        var from = message.from;//消息的发送者
					        var msg = message.data;//文本消息体    
					        // 收到文本消息在页面展示
					        if(from==account){
					        		sendMsg('receiver',from,msg);
					        		resetMessageArea();
					        }else{
					        		setMsg(from,msg);
					        		
					        }
						}
					})
					//发送
					$('#btn_send').click(function () {
						$('.box_ft_bd').addClass('hide');
						var _obj = _editArea.html();
						if(_obj && _obj!=''){
							resetMessageArea();
							sendMsg('sender',state.token,_obj);
							sendPrivateText(_obj,account);
						}
						
					});
					
					 
					// 单聊发送文本消息
					var sendPrivateText = function (massge,to) {
						console.log(massge)
						console.log(to)
					    var id = conn.getUniqueId();                 // 生成本地消息id
					    var msg = new WebIM.message('txt', id);      // 创建文本消息
					    msg.set({
					        msg: massge,                  // 消息内容
					        to: to,                          // 接收消息对象（用户id）
					        roomType: false,
					        success: function (id, serverMsgId) {
					            console.log('send private text Success');
					        },
					        fail: function(e){
					            console.log("Send private text error");
					        }
					    });
					    msg.body.chatType = 'singleChat';
					    log(msg.body)
					    conn.send(msg.body);
					};
				},1000)
				
				
			}
	    
	});
 

	</script>
</body>
</html>
