<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
    		.section-white{
    			width: 100%;
    			margin: 1rem auto;
    			background: #FFFFFF;
    			padding: 3rem 1rem;
    		}
    		
    </style>
    
  </head>
  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">协议详情</div>

    </header>
    <section class="container section-white">
    		咨询服务协议</br>
		本咨询服务协议由以下三方于通过网络签署：</br>
		
		甲方（签约专家）：</br>
		
		身份证号码：</br>
		
		乙方（求助者）：</br>
		
		身份证号码：</br>
		
		丙方：大观心身医学研究院（北京）有限公司</br>
		地址：北京市海淀区中关村大街甲38号1号楼B座9层106号</br>
		通讯地址：北京市海淀区中关村大街甲38号1号楼B座9层106号</br>
		
		鉴于：</br>
		
		1、丙方是一家根据中国法律合法成立并有效存续的有限责任公司，合法拥有大观心理咨询服务平台www.daguanxl.com（包括同名APP软件，以下称“丙方平台”）的经营权，提供信息咨询、技术服务等。</br>
		
		2、甲方为持有中国的自然人，已与丙方签约为丙方平台签约专家，并承诺其提供给丙方的信息是完全真实的。</br>
		
		3、乙方为丙方平台的注册用户，并承诺其提供给丙方的信息是完全真实的；</br>
		
		4、现乙方有意就问题向甲方寻求专业心理咨询，甲方亦愿意向乙方提供相关服务。</br>
		
		5、甲、乙双方在本协议签署前已经仔细阅读并充分理解丙方放置在丙方平台上的本协议版本及免责声明，并已经确认同意相关交易规则。</br>
		
		各方经友好协商一致，签订如下协议，以兹共同遵照履行。</br>
		
		第一条 服务内容</br>
		
		1.1、 甲方同意向乙方提供小时（以下简称“服务时间”）的心理咨询服务，甲、乙双方明确并同意，在乙方完成本协议项下服务费支付义务后，具体服务时间自乙方与甲方通过丙方平台预约的服务时间到达时开始计算。</br>
		
		若甲、乙双方并未预约服务时间，则在乙方完成本协议项下服务费支付义务后，具体服务时间自乙方通过丙方平台接受甲方服务之时起开始计算。</br>
		
		1.2、 甲方在提供本协议项下心理咨询服务时，应严格遵守相关法律法规、行业规范及平台规则的要求，尽其所能为乙方提供不低于行业同等水平的服务。</br>
		
		1.3、 乙方明确并承诺，其已经明确心理咨询业务规则，理解且同意本协议项下的心理咨询服务可能并不会产生直接、强烈、明显的效果，在接受服务后亦可能产生的其他后果，乙方愿意承担该等后果。</br>
		
		1.4、 乙方明确并承诺，其在接受心理咨询过程中应向甲方如实说明自身情况及遇到的问题，并遵从甲方给出的专业性建议及意见。</br>
		
		第二条 服务费用</br>
		
		2.1、 乙方应就本协议项下的心理咨询服务向甲方支付咨询服务费。咨询服务费的计算公式如下所示：</br>
		
		咨询服务费 =咨询服务费单价人民币元/时 *服务时间（小时）</br>
		
		故乙方应向甲方支付咨询服务费总计人民币元（大写：人民币元）。</br>
		
		2.2、 甲、乙双方应向丙方支付信息技术服务费，甲方不可撤销的明确并同意，其原意代乙方支付全部信息技术服务费。信息技术服务费的计算方法，详见《大观专家注册协议》相关规定。</br>
		2.3、 为完成交易之目的，甲方不可撤销的授权丙方代收乙方支付的咨询服务费，并授权丙方直接从代收的每笔咨询服务费中立即收取甲方应向丙方支付的信息技术服务费。丙方应根据其与甲方之间的协议按期足额向甲方支付扣除信息技术服务费后的剩余代收款项。具体付款流程如下：</br>
		
		（1） 乙方将本协议第2.1条约定的咨询服务费支付至丙方后，方可向甲方发出心理咨询的意向通知；</br>
		
		（2） 丙方确认收到乙方支付的咨询服务费后，应及时通过平台通知甲方该情况，同时亦应反馈至乙方其咨询服务费已经按平台规则支付，其有权在预约时间接受甲方提供的服务或是通过丙方平台向甲方提出服务申请；</br>
		
		（3） 甲方在收到丙方的通知后应根据本协议及相关规则的规定及要求为乙方提供心理咨询服务；</br>
		
		（4） 丙方应定期通过平台通知或短信方式向甲方确认其信息技术服务费的支付情况，甲方亦有权登录其大观账户查询该等情况。</br>
		
		2.4、 丙方应妥善保存其代收的咨询服务费，并与其自有资金分开保存。非根据本协议、其他协议及相关规则的约定，不得擅自挪用、移转或混同代收的咨询服务费。甲方明确并同意，丙方根据本协议代收代管咨询服务费期间，咨询服务费产生的利息归丙方所有。</br>
		
		2.5、 甲方对于丙方代收咨询服务费及扣除信息技术服务费存在疑问的，应当及时向丙方反馈，双方配合查清。</br>
		
		2.6、 乙方在成功支付咨询服务费后，有权要求甲方就咨询服务费向其提供发票。
		
		2.7、 甲方在每次收到丙方向其支付的代收咨询服务费后，有权要求丙方就信息技术服务费向其提供发票，除非乙方就甲方代其支付的信息技术服务费要求丙方向其提供发票。</br>
		
		第三条 保密责任</br>
		
		3.1、 本协议及本协议履行过程中涉及的所有信息（包括但不限于乙方身份信息等）均为保密信息。各方应妥善保管相关信息，除本框架协议第3.2条约定的情形外，任何一方不得向第三方披露任何保密信息。</br>
		
		3.2、 各方明确并同意，在下列情况下，任何一方可向第三方披露保密信息：</br>
		
		（1） 已经取得其他各方事先书面确认；</br>
		
		（2） 根据行政机关、司法机关的合理要求；</br>
		
		（3） 公众已可通过其他合法渠道获知；</br>
		
		（4） 丙方为完成本协议之目的，向内部工作人员、委托的中介机构披露保密信息。但披露方应保证内部工作人员、委托的中介机构，无论劳动关系、委托关系是否存续，均承担与披露方相同的保密义务。</br>
		
		3.3、 任何一方擅自披露保密信息造成其他各方损失的，披露方应承担相应的赔偿责任。</br>
		
		3.4、 本协议项下保密责任不会随本协议的失效、终止、撤销而失去效力。</br>
		
		第四条 协议终止</br>
		
		4.1、 甲方有权在甲、乙方双方预约的服务时间到达【48】小时前通过丙方平台通知乙方及丙方解除本协议，但甲方应退还或委托丙方退还收取的全部咨询服务费，并承担由此给乙方及丙方造成的一切损失。甲方进一步明确，若甲方行使本条款约定之解除权，丙方已经收取的信息技术服务费不予退还。</br>
		
		4.2、 丙方有权在甲方或乙方违反本协议约定时通过丙方平台通知甲方及乙方解除本协议。甲方应退还或委托丙方退还已经收取的、但尚未接受的心理咨询服务所对应的咨询服务费。若丙方因甲方违约而行使本条款约定之解除权，丙方已经收取的信息技术服务费不予退还，否则，丙方应于解除本协议后的【7】个工作日内，将收取的信息技术服务费退还给甲方。</br>
		
		各方明确并同意，丙方行使本条款约定之解除权并不影响丙方追究违约方违约责任之权利。</br>
		
		第五条 违约责任</br>
		
		5.1、 各方均应严格履行本协议，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。</br>
		
		5.2、 任何一方任何违反本协议约定的行为均构成违约，违约方应承担因违约而产生的赔偿责任并承担其余其他各方因违约而产生的其他费用和损失，包括但不限于调查费、诉讼费、律师费等。</br>
		
		第六条 法律适用和争议解决</br>
		
		6.1、 本协议的效力、履行、终止、解释均适用中华人民共和国法律。</br>
		
		6.2、 因本协议产生的任何争议，本协议任何一方均有权向丙方所在地有管辖权的法院提起诉讼解决。</br>
		
		第七条 其他</br>
		
		7.1、 本协议由各方在线签署，采用电子文本形式制成，并保存在丙方为此设立的专用服务器上备查，各方均认可该形式的协议效力。</br>
		
		7.2、 本协议的任何修改、补充均应以电子文本形式作出并于丙方平台公告。</br>
		
		7.3、 本协议的任何条款被认定无效，其余条款并不受影响，依然有效。</br>
    </section>
  </body>
  <script src="../../js/zepto.js"></script>
  <script src="../../js/mui.min.js"></script>
  <script src="../../js/template.min.js"></script>
  <script src="../../config.js"></script>
  <script src="../../js/app.js"></script>
</html>
