<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
  </head>

  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">忘记密码</div>
    </header>
    <section class="container">
      <form class="form-container" action="" method="post" id="">
        <section class="mui-input-group">
          <div class="mui-input-row">
            <label>帐号：</label>
            <input type="number" pattern="\d*" maxlength="11" required data-caution="请输入手机号码" id="account" name="username" class="mui-input-clear" placeholder="请输入您的手机号">
          </div>
          <div class="mui-input-row">
            <div class="form-inline">
              <div class="mui-input-row form-inline-adaptive">
              <label>验证码：</label> 
              <input id="vcode" type="text" class="mui-input-clear" placeholder="请输入短信验证码" required data-caution="请输入短信验证码">
            </div>
            <div class="form-inline-unadaptive"><button type="button" class="mui-btn mui-btn-warning bbc-btn-warning mui-btn-block btn-action action-get-vcode" id="action_get_vcode" >获得验证码</button></div>
            </div>
          </div>
          <div class="mui-input-row">
            <label>新密码：</label>
            <input type="password" id="newpw" name="newpw" class=" mui-input-password" placeholder="请输入新密码">
          </div>
          <div class="mui-input-row">
            <label>确认新密码：</label>
            <input type="password" id="rnewpw" name="rnewpw" class=" mui-input-password" placeholder="请输入确认新密码">
          </div>
        </section>
        <section class="mui-content-padded form-op-section">
          <button id="find_password" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">提交</button>
        </section>
      </form>
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
    		function setCount(){
    			var btnVCode = $('#action_get_vcode');
		    btnVCode.html('<i>0<i>');
		    var countDown = new countdown(btnVCode.find('i'), {
		      start: 120,
		      secondOnly: true,
		      callback: function(e) {
		        $('.action-get-vcode').removeAttr('disabled');
		        btnVCode.html('重发验证码');
		      }
		    });
    		}
	  	
      document.getElementById('find_password').addEventListener('tap', function() {

          var account = $('#account').val();
          var vcode = $('#vcode').val();
          var newpw = $('#newpw').val();
          var rnewpw = $('#rnewpw').val();
          if(!account) {
            mui.alert('请填写手机号');
            return
          }
          if(!vcode) {
            mui.alert('请填写验证码');
            return
          }
          if(!newpw) {
            mui.alert('请填写新密码');
            return
          }
          if(!rnewpw) {
            mui.alert('请填写确认新密码');
            return
          }
          if(newpw!=rnewpw){
          	mui.alert('密码不一致');
            return
          }

        var param = {
            'method': config.apimethod.findPassword,
            'mobile': account,
            'code': vcode,
            'newpw': newpw,
            'rnewpw': rnewpw,
            'source':config.source
        }
        log(param)
        $.dataRequest(param, function(rs) {
          mui.toast('修改成功');
          plus.webview.currentWebview().close()
          
        });
      });

      document.getElementById('action_get_vcode').addEventListener('tap', function() {
		if($(this).attr('disabled')) return; 
		var account = $('#account').val();
		if(!account) {
	        mui.alert('请填写手机号');
	        return
	    }
		var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
		if (!phoneReg.test(account)) {  
		    mui.alert('请输入有效的手机号码！');  
		    return false;  
		} 
		
		
//		setCount();
		var $el = $(this);
		var textCont = $el;
		var param = {
			'method': config.apimethod.usersendSms,
			'mobile': account,
			'source':config.source
		}
		$.dataRequest(param, function(rs) {
			textCont.html('<i>0</i>');
            $el.attr('disabled', 'disabled');
            var cd = new countdown(textCont.find('i'), {
              start: 120,
              secondOnly: true,
              callback: function(e) {
                $el.removeAttr('disabled');
                textCont.html('重发验证码');
              }
            });
            mui.toast('发送成功，请查收');	
		});
      });
    </script>
  </body>

</html>
