<!DOCTYPE html>
<html class="ui-page-login">

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <style>
      .oauth-area {
        position: absolute;
        bottom: 20px;
        left: 0px;
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
      }

      .oauth-area .oauth-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px 20px;
        /*-webkit-filter: grayscale(100%); */
        border: solid 1px #ddd;
        border-radius: 25px;
      }

      .oauth-area .oauth-btn:active {
        border: solid 1px #aaa;
      }

      .oauth-area .oauth-btn.disabled {
        background-color: #ddd;
      }
    </style>
  </head>

  <body>
	 <header class="page-header nobd">
      <div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
      <h1 class="mui-center mui-title">会员登录</h1>
      </div>
    </header>  	
    <!--<header class="page-header">
      <div class="header-title">会员登录</div>
    </header>-->
    <section class="container">
      <form class="form-container" id="login_form">
        <section class="mui-input-group">
          <div class="mui-input-row">
            <label>帐号：</label>
            <input id="account" type="text" value="" class="mui-input-clear mui-input" placeholder="请输入手机号">
          </div>
          <div class="mui-input-row">
            <label>密码：</label>
            <input id="password" type="password" class="mui-input-password" placeholder="请输入密码">
          </div>
          <div id="vcode_form" class="form-inline" style="display: none;">
            <div class="mui-input-row form-inline-adaptive">
              <label>验证码：</label>
              <input id="vcode" type="text" class="mui-input-clear" placeholder="请输入验证码">
            </div>
            <div class="form-inline-unadaptive">
              <img id="vcode_img" width="100" height="30" src="">
            </div>
          </div>
        </section>
      </form>
      <section class="content-horizontal-padded content-right">
        <a id='forgetPassword' class="fontS font-orange">忘记密码</a>
      </section>
      <section class="content-horizontal-padded form-op-section">
        <button id='login' type="submit" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning" style="background: #4883DD;border: #4883DD;">登录</button>
      </section>
      <section class="content-horizontal-padded">
        <button id="reg" class="mui-btn mui-btn-block">快速注册</button>
      </section>
      
      <!--<section class="font-gray-20 sns-login">
        <div class="section-title font-gray-60">使用其他账号</div>
        <div class="section-container">
          
        </div>
      </section>-->
      
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/mui.enterfocus.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <!--config-->
    <script src="../../js/im/webim.config.js"></script>
    <script src="../../js/im/strophe-1.2.8.js"></script>
    <script src="../../js/im/websdk-1.4.13.js"></script>
    <script src="../../js/im/im.js"></script>
    <script>
        mui.plusReady(function() {
        	  
          var settings = app.getSettings();
          var state = app.getState();
          var entrance = plus.webview.currentWebview().entrance;
          var toMain = function() {
            var parentview = plus.webview.currentWebview().opener();
            if(entrance){
            		
            		if(plus.webview.getWebviewById('_www/view/member/safe/logpassword.html')){
            			plus.webview.close('_www/view/member/safe/logpassword.html', 'none');
            		}
            		if(plus.webview.getWebviewById('_www/view/passport/verificationsms.html')){
            			plus.webview.close('_www/view/passport/verificationsms.html', 'none');
            		}
            		
        			plus.webview.open(entrance,entrance);

            		
            }else{
				if(parentview){
					parentview.reload(true)
				}
    				


            }
            
//          if(plus.webview.getWebviewById('_www/view/index.html')){
//          		plus.webview.getWebviewById('_www/view/index.html').show()
//          }else{
//          		clicked('_www/view/index.html')
//          }
            
			var mv = plus.webview.getWebviewById('_www/view/member/member.html');
			if(mv){
				mv.close('none');
			}
            var ws = plus.webview.currentWebview();
            plus.webview.close(ws,'slide-out-bottom');
          };
          //检查 "登录状态/锁屏状态" 开始
          if(state.token) {
            document.getElementById('account').value = state.account;
            toMain();
          } else {
			app.setState(null);
  			// close splash
			setTimeout(function() {
			    //关闭 splash
			   plus.navigator.closeSplashscreen();
			}, 600);
	          //检查 "登录状态/锁屏状态" 结束
	          var loginButton = document.getElementById('login');
	          var accountBox = document.getElementById('account');
	          var passwordBox = document.getElementById('password');
	         
	          var loginErrTime = 0;
	          loginButton.addEventListener('tap', function(event) {
	            var loginInfo = {
	              account: accountBox.value,
	              password: passwordBox.value
	            };
	            app.login(loginInfo, function(err) {
	              if(err) {
	                plus.nativeUI.toast(err);
	                return;
	              }
	              var options = {
				    apiUrl: WebIM.config.apiURL,
				    user: accountBox.value,
				    pwd: '123456',
				    appKey: WebIM.config.appkey,
				    success: function (token) {
				        var token = token.access_token;
				        log('--succe---')
				        log(token);
				        WebIM.utils.setCookie('webim_' + accountBox.value, token, 1);
				        plus.storage.setItem('webim_' + accountBox.value,token);
				    },
				    error: function(e){
				    		
				    		log('----error----')
				    		log(e)
				    }
				};
				log(options)
				conn.open(options);
				log(conn)
//	              var options = { 
//					  apiUrl: WebIM.config.apiURL,
//					  user: accountBox.value,
//					  pwd: passwordBox.value,
//					  appKey: WebIM.config.appkey
//					};
//					conn.open(options);
	              toMain();
	            });
	          });
          
		  }
          mui.enterfocus('#login_form input', function() {
            mui.trigger(loginButton, 'tap');
          });
		 var regButton = document.getElementById('reg');
          regButton.addEventListener('tap', function(event) {
//          clicked('_www/view/passport/register.html',{'entrance':entrance});
            clicked('_www/view/passport/signup.html',{'entrance':entrance});
          }, false);

          document.getElementById('forgetPassword').addEventListener('tap', function(event) {
            clicked('_www/view/passport/forgetPassword.html',{'entrance':entrance});
          }, false);


          var backButtonPress = 0;
          mui.back = function(event) {
            backButtonPress++;
            if(backButtonPress > 1) {
              plus.runtime.quit();
            } else {
              plus.nativeUI.toast('再按一次退出应用');
            }
            setTimeout(function() {
              backButtonPress = 0;
            }, 1000);
            return false;
          };
          
        });

    </script>
  </body>

</html>
