<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <style type="text/css">
    	.require-item{
    		color: red;
    	}
    </style>
  </head>

  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">会员注册</div>
    </header>
    <section class="container">
      <form class="form-container">
        <input type="hidden" name="key" value="topwap_signup">
        <section class="mui-input-group">
        	   <div class="mui-input-row ">
            <label><i class="require-item">*</i>姓名：</label>
      		<input id="account" type="text" class="mui-input-clear" placeholder="请输入姓名">
         </div>
          <div class="mui-input-row ">
            <label>邮箱：</label>
      		<input id="email" type="text" class="mui-input-clear" placeholder="请输入邮箱">
          </div>
          <div class="mui-input-row ">
            <label><i class="require-item">*</i>手机：</label>
      		<input id="mobile" type="text" class="mui-input-clear" placeholder="请输入手机号">
          </div>
          <div class="mui-input-row">
            <label><i class="require-item">*</i>密码：</label>
            <input id="password" type="password" class="mui-input-password" placeholder="请输入密码">
          </div>
          <div class="mui-input-row">
            <label>生日：</label>
            <input id="birthday" type="datetime" class="mui-input-clear" placeholder="请输入生日">
          </div>
          <div class="mui-input-row">
            <label>性别：</label>
            <select id="sex" name="sex" class="mui-input-clear mui-input " >
				<option value="1" selected="selected">男</option>
				<option value="0" >女</option>
			</select>
          </div>
          <div class="mui-input-row">
            <label>学历：</label>
            <select id="edu" name="edu" class="mui-input-clear mui-input " >
            		<option value="" selected="selected">请选择学历</option>
            		<option value="初中" >初中</option>
            		<option value="高中" >高中</option>
				<option value="大专" >大专</option>
				<option value="本科" >本科</option>
				<option value="硕士" >硕士</option>
				<option value="博士" >博士</option>
			</select>
          </div>
          
          <div class="mui-input-row">
            <label>年级：</label>
            <select id="grade" name="grade" class="mui-input-clear mui-input " >
            		<option value="" selected="selected">请选择年级</option>
				<option value="一年级" >一年级</option>
				<option value="二年级" >二年级</option>
				<option value="三年级" >三年级</option>
				<option value="四年级" >四年级</option>
				<option value="五年级" >五年级</option>
				<option value="六年级" >六年级</option>
			</select>
          </div>
          <div class="mui-input-row">
            <label>职业：</label>
            <select id="profession" name="profession" class="mui-input-clear mui-input " >
            		<option value="" selected="selected">请选择职业</option>
				<option value="销售" >销售</option>
				<option value="客服" >客服</option>
				<option value="工程师" >工程师</option>
			</select>
          </div>
          <div class="mui-input-row">
            <label>婚姻：</label>
            <select id="marital" name="marital" class="mui-input-clear mui-input " >
            		<option value="" selected="selected">请选择婚姻状况</option>
				<option value="0" >未婚</option>
				<option value="1" >已婚</option>
			</select>
          </div>
          <div class="mui-input-row ">
            <label>省：</label>
      		<input id="province" type="text" class="mui-input-clear" placeholder="请输入省">
          </div>
          <div class="mui-input-row ">
            <label>市：</label>
      		<input id="city" type="text" class="mui-input-clear" placeholder="请输入市">
          </div>
          <div class="mui-input-row ">
            <label>联系电话：</label>
      		<input id="tel" type="text" class="mui-input-clear" placeholder="请输入联系电话">
          </div>
          <div class="mui-input-row">
            <label>是否接受过心理咨询：</label>
            <select id="isconsolle" name="isconsolle" class="mui-input-clear mui-input " >
				<option value="" selected="selected">请选择</option>
				<option value="1" >是</option>
				<option value="0" >否</option>
			</select>
          </div>
          <div class="mui-input-row">
            <label>咨询时间：</label>
            <input id="consolletime" type="datetime" class="mui-input-clear" placeholder="咨询时间">
          </div>
          <div class="mui-input-row mui-hidden">
            <label>机构中心：</label>
            <select id="agency" name="agency" class="mui-input-clear mui-input agency-list" >
				<option value="" selected="selected">请选择</option>
			</select>
          </div>
        </section>
        <section class="content-vertical-padded box-display">
          <div class="mui-checkbox bbc-checkbox shop-checkbox">
            <label></label>
            <input name="license" value="1" type="checkbox" checked>
          </div>
          <div class="box-item-flex1 fontS font-gray-20">我已阅读并同意<mark id="agreement" class="action-clickview" data-view="_www/view/passport/agreement.html">《咨询协议》</mark></div>
          
        </section>
		<section class="mui-content-padded">
          为了更好的为您服务，请填写注册信息。请放心，您的所有信息我们都将为您保密。您可以参看咨询协议
        </section>
        <section class="mui-content-padded form-op-section">
          <button id="register_next" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">下一步</button>
        </section>
      </form>
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <!--config-->
    <script src="../../js/im/webim.config.js"></script>
    <script src="../../js/im/strophe-1.2.8.js"></script>
    <script src="../../js/im/websdk-1.4.13.js"></script>
	<script src="../../js/im/im.js"></script>
	<script type="text/html" id="agency_list">
    		<% for(var i in list) { %>	
      		<option value="<%= list[i].id %>"><%= list[i].title %></option>
      	<% } %>
    </script>

    <script>
      mui.plusReady(function() {

//    	log(conn);
//      var entrance = plus.webview.currentWebview().entrance;
       //机构
        var param = {
		      'method': config.apimethod.agency,
		      'source':config.source
		}
		//机构列表
	    $.dataRequest(param, function (rs) { 
			
			var _html = template('agency_list', rs);

			$('#agency').append(_html);

	    });
	    
	    	document.getElementById("birthday").addEventListener('tap', function() {
			var dTime = new Date();
//			dTime.setHours(6, 0);
			plus.nativeUI.pickDate(function(e) {
				var d = e.date;
				$('#birthday').val( d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
			}, function(e) {
				mui.toast('请选择日期')
			}, {
				title: "请选择日期",
				time: dTime
			});
		});
		
		document.getElementById("consolletime").addEventListener('tap', function() {
			var dTime = new Date();
//			dTime.setHours(6, 0);
			plus.nativeUI.pickDate(function(e) {
				var d = e.date;
				$('#consolletime').val( d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
			}, function(e) {
				mui.toast('请选择日期')
			}, {
				title: "请选择日期",
				time: dTime
			});
		});
        $('#register_next').on('tap', function() {
          var account = $('#account').val();
		 var email = $('#email').val();
		 var mobile = $('#mobile').val();
		 var password = $('#password').val();
		 var agency = $('#agency').val();
		 
		 //新加
		 var birthday = $('#birthday').val();
		 var sex = $('#sex').val();
		 var edu = $('#edu').val();
		 var grade = $('#grade').val();
		 var marital = $('#marital').val();
		 var profession = $('#profession').val();
		 var province = $('#province').val();
		 var city = $('#city').val();
		 var tel = $('#tel').val();
		 var isconsolle = $('#isconsolle').val();
		 var consolletime = $('#consolletime').val();
          if(!account) {
            mui.alert('手机号不能为空');
            return
          }
//        if(!agency) {
//          mui.alert('机构中心不能为空');
//          return
//        }
          if(!password) {
            mui.alert('密码不能为空');
            return
          }
         
          if(!$('input[name="license"]').prop('checked')) {
            mui.alert('请阅读并接受会员注册协议');
            return;
          }
          
          var param = {
              'method': config.apimethod.register,
              'source':config.source,
              'account': account,
              'email': email,
              'mobile': mobile,
              'password': password,
              'agency': agency,
              'birthday': birthday,
              'sex': sex,
              'edu': edu,
              'grade': grade,
              'profession': profession,
              'marital': marital,
              'province': province,
              'city': city,
              'tel': tel,
              'isconsolle': isconsolle,
              'consolletime': consolletime
           }
          $.dataRequest(param, function(rs) {
            var data = rs.data;
              sendSms(mobile);
				// 环信SDK注册
	            var options = {
	                username : mobile,
	                password : password,
	                nickname : account,
	                appKey : WebIM.config.appkey,
	                apiUrl: WebIM.config.apiURL,
	                success : function(result) {
	                    //注册成功;
	                    console.log(JSON.stringify(result))
	                    mui.toast('同步成功');
	                },
	                error : function(e) {
	                    //注册失败;
	                    console.log(JSON.stringify(e));
	                    mui.toast('同步失败：'+e.error);
	                }
	            };
	            conn.registerUser(options); 
          });
        });
        function sendSms(account){
        		var param = {
              'method': config.apimethod.vcode,
              'source':config.source,
              'mobile': account
           }
          $.dataRequest(param, function(rs) {
          	clicked('_www/view/passport/verificationsms.html', {
                'mobile': account
//              'vcode': rs
              });
          })
        }
        
      });

      


      document.getElementById('agreement').addEventListener('tap', function() {
        //clicked('_www/view/passport/agreement.html', {}, 'slide-in-bottom');
      });
      
      window.addEventListener('readed',function(event){
        $('input[name="license"]').prop('checked', 'checked');
      });
    </script>
  </body>

</html>
