<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/counsellor.css" />
    <link rel="stylesheet" href="../../css/style.css" />
	<link rel="stylesheet" href="../../css/member.css" />
    <style>
		.mui-badge{
			margin-left: 185px!important;
			top: 5.5rem!important;
			position: absolute;
		}
				
    </style>
    
  </head>
  <body class="section-white">
    <header class="page-header nobd">
      <div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
      <i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
      <h1 class="mui-center mui-title">课程活动</h1>
      <a class="mui-right  mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
      	<img src="../../img/tel.png">
      	<i class="search-hide icon-func bbc-icon callmm">客服</i>
      </a>
      </div>
    </header>
    <div class="counsellor-homepage-content">
			<!--文章列表 start-->
				<section class="container section-white counsellor-article-info">
					<div class="list">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;" class="cell-flex">
									<img class="mui-media-object mui-pull-left" src="../../img/60x60.gif">
									<div class="mui-media-body flex-g2">
										<h3 class="mui-ellipsis-2">幸福</h3>
										<p class="address mui-ellipsis">地点: 上海</p>
										<p class="time">时间: 2018年10月19日</p>
									</div>
									<div class="mui-media-object">
										<span class="eve">评价</span>
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;" class="cell-flex">
									<img class="mui-media-object mui-pull-left" src="../../img/60x60.gif">
									<div class="mui-media-body flex-g2">
										<h3 class="mui-ellipsis-2">幸福</h3>
										<p class="address mui-ellipsis">地点: 上海</p>
										<p class="time">时间: 2018年10月19日</p>
									</div>
									<div class="mui-media-object">
										<span class="eve">评价</span>
										<span class="return">退款</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</section>
			<!--文章列表 end-->
	    
	</div>
	<nav class="mui-bar bbc-bar-tab op-group mui-hidden" >
      <a class="bbc-tab-item  trade-talk" id="addfriend">
        <span class="mui-icon bbc-icon bbc-icon-home"></span>
        <span class="mui-tab-label">与他沟通</span>
      </a>
      <a class="bbc-tab-item" >
        <span class="mui-icon bbc-icon bbc-icon-list trade-confirm"></span>
        <span class="mui-tab-label">预约</span>
      </a>
      <a class="bbc-tab-item" >
        <span class="mui-icon bbc-icon bbc-icon-moments  addfav"></span>
        <span class="mui-tab-label ">收藏</span>
      </a>
      
      <a class="bbc-tab-item trade-date " >
        <span class="mui-icon bbc-icon bbc-icon-user-empty"></span>
        <span class="mui-tab-label">咨询师日程表</span>
      </a>
   </nav>
    <!--<section class="action-bar-mini op-group mui-hidden">
        <div class="op-group-item col-half trade-talk" id="addfriend">与他沟通</a></div>
        <div class="op-group-item col-half trade-confirm" >预约</a></div>
        <div class="op-group-item col-half trade-date">咨询师日程表</a></div>
    </section>-->

  </body>
  <script src="../../js/zepto.js"></script>
  <script src="../../js/mui.min.js"></script>
  <script src="../../js/template.min.js"></script>
  <script src="../../config.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/im/webim.config.js"></script>
  <script src="../../js/im/strophe-1.2.8.js"></script>
  <script src="../../js/im/websdk-1.4.13.js"></script>
  <script src="../../js/im/im.js"></script>
  <script type="text/html" id="counsellor_info">
  	<!--咨询师详情 start-->
		<section class="container section-white counsellor-info">
			<div class="counsellor-head-content">
				<img src="<%= $add_server(avar) %>" class="avatar">			
				<h2 class="teacher-name"><%= nickname %></h2>
				<p class="card-addrs card-ellispse"><%= slogan %></p>
				<p class="doctor-honor card-ellispse">
					<span>住进 <%= trade %> 个人的心窝</span>
					<span class="star">好评率： <%= percent %></span>
				</p>
				<p class="doctor-address card-ellispse">
					<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
					<span><%= city %></span>
				</p>
				<div class="zixun-time-block">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<% if(start>8 ){%>
						<img class="star" src="../../img/star-y.png">
					<%}else{%>
						<img class="star" src="../../img/star-g.png">
					<%}%>
				</div>
			</div>
			<div class="doctor-sign-sublist">
				<p class="doctor-sign-item card-ellispse">
					<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
					<span>大观心理咨询师</span>
				</p>
				
				<%if(tearch){%> 
				<p class="doctor-sign-item card-ellispse">
					<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
					<span>大观心理认证讲师</span>
				</p>
				<%}%>
				<%if(leader){%>
				<p class="doctor-sign-item card-ellispse">
					<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
					<span>大观心理认证小团体Leader</span>
				</p>
				<%}%>
			</div>
			<div class="section">
				<h3 class="title">评价列表</h3>
				<div class="certifi">
					<% for(var i in evalist) { %>

						<li class="mui-table-view-cell mui-media " >
							<a class="">
								<span class="mui-pull-right mui-badge"> <%= $timestamp_To_Date(evalist[i].create_time) %></span>
								<img class="mui-media-object mui-pull-left" src="<%= $add_server(evalist[i].avar) %>">
								<div class="mui-media-body">
									<%= evalist[i].nickname %><i style="font-size: 12px;color: deeppink;"> <%if(evalist[i].is_diamonds){ %>心窝会员<%}%></i>
									<p class='mui-ellipsis mui-media-text'>
										<img class="star" src="../../img/star-y.png">
										<img class="star" src="../../img/star-y.png">
										<img class="star" src="../../img/star-y.png">
										<img class="star" src="../../img/star-y.png">
										<% if(evalist[i].sorce>8 ){%>
											<img class="star" src="../../img/star-y.png">
										<%}else{%>
											<img class="star" src="../../img/star-g.png">
										<%}%>
										
									</p>
									<p class="mui-ellipsis mui-media-text mui-media-author"><%= evalist[i].cotent %></p>
									
								</div>
								
								
							</a>
						</li>
					<%}%>
				</div>		  
			</div>
			
		</section>

	<!--咨询师详情 end-->
  </script>
  
  <script>
    mui.plusReady(function() {
      var counsellor_id = plus.webview.currentWebview().counsellor_id;
      var counsellor_mobile = 0;
      var state = app.getState();
      var param = {
          'method': config.apimethod.counsellor,
          'source':config.source,
          'id': counsellor_id
      }
      console.log(counsellor_id)
      log(param);
      $.dataRequest(param, function(rs) { 
      	log(rs)  
      	var widgets = template('counsellor_info', rs);
        $('.counsellor-homepage-content').append(widgets);
        	 // 
         mui('.mui-scroll-wrapper').scroll({
          indicators: false
        });
      });
      
    });
  </script>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
