<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/widgets.css">
    <style type="text/css">
    		.main{
    			margin-right: 10px;
    		}
    		.mui-table-view .mui-media-object{
		    max-width: 72px; 
    			height: 72px;
    		}
    		.mui-media-text {
    			color: #646464;
    			font-size: 15px;
    		}
    		.mui-media-author { 
    			font-size: 13px;
    			margin-top: 5px;
    		} 
    		.mui-media-action{
    			font-size: 13px;
    		}
    		.float-right{
    			float: right;
    		}
    </style>
  </head>

  <body>
    <div class="mui-content">
      <div id="pullrefresh" class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <ul class="mui-table-view  counsellor-list">
          	
          </ul>
        </div>
      </div>

    </div>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    
    
	<script type="text/html" id="counsellor_list">
    		<section class="widgets-category-nav section-white">
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
		          	<% for(var i in list) { %>	
					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>
						<a class="mui-navigate-right"> 
							<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].avar) %>">
							<div class="mui-media-body">
								<p>
									<span class="mui-text-left "><%= list[i].nickname %></span>
									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
								</p>
								<p class='mui-ellipsis mui-media-text'><%if(list[i].tearch){%>大观讲师 |<%}%><%if(list[i].leader){%>大观Leader<%}%> |<%= list[i].sign %></p>
								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过<%= list[i].trade %>人次</p>
							</div>
						</a>
					</li>
					<% } %>
				  </ul>		
		        </div>
		      </section>
    </script>
    
    <script>
      mui.plusReady(function() {
        var fw = plus.webview.currentWebview().parent();
        var cat_id = fw.cat_id || '';
        var keyword = fw.keyword || '';
        var shopid = fw.shopid || '';
        
        var sex,online,ondate;
		var state = app.getState();
		getclist();
		function getclist(){ 
			var param = {
	            'method': config.apimethod.counsellorlist,
	            'cat_id': cat_id,
	            'source':config.source,
	            'search_keywords': keyword
//	            'sex': sex,
//	            'online': online,
//	            'ondate': ondate,
//	            'shopid':shopid
	      }
			log(param);
	        $.dataRequest(param, function(rs) {
			log(rs)
	        		var widgets = template('counsellor_list', rs);
	            $('.counsellor-list').append(widgets);
	            	 // 
	             mui('.mui-scroll-wrapper').scroll({
		          indicators: false
		        });
		        
	        })
		}
        
        
        window.addEventListener('getlist', function(event) {
        	console.log('here')
        		mui.toast('here')
          if(event.detail.search_keywords!=''){
            keyword = event.detail.search_keywords;
          }

          cat_id = event.detail.cat_id;
//        sex = event.detail.sex;
//        shopid = event.detail.shopid;
//        online = event.detail.online;
//        ondate = event.detail.ondate;
          $('.counsellor-list').empty();
          //获取数据
          getclist();
        });

      });
    </script>
  </body>

</html>
