<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../fonts/iconfont.css" />
    <link rel="stylesheet" href="../../css/counsellor.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
			header{
				height: 44px;
			}
			.mui-badge{
				margin-left: 185px!important;
				top: 5.5rem!important;
				position: absolute;
			}
			.counsellor-info{
				margin-bottom: 0.6rem;
				padding-top: 1rem;
			}
			.counsellor-head-content{
				text-align: center;
				padding-top: 4rem;
				padding-bottom: 0.4rem;
				/*background: url(../../img/head-bg.png) no-repeat;*/
				background-size: 100% 100%;
				margin-bottom: 0.6rem;
				color: #fff;
			}
			.counsellor-head-content .avatar{
				height: 6rem;
				width: 6rem;
				border-radius: 50%;
				border: 5px solid #fff;
			}
			.counsellor-head-content .teacher-name{
				font-size: 25px;
				font-weight: 600;
				margin-bottom: 0.2rem;
			}
			.counsellor-head-content .zixun-time-block{
				padding-bottom: 0;
				margin-bottom: 0;
				background: transparent;
			}
			.counsellor-head-content .zixun-time-block .star{
				width: 13px;
				height: 14px;
			}
			.counsellor-homepage-content{
				padding: 0;
			}
			.counsellor-homepage-content .qualification-block{
				border-radius: 0;
			}
			.counsellor-homepage-content .qualification-block .section{
				padding: 0 0.5rem;
				margin: 0;
			}
			.counsellor-homepage-content .qualification-block .section .certification{
				height: auto;
			}
			.counsellor-homepage-content .qualification-block .section .title{
				padding-top: 10px;
				margin-bottom: 5px;
			}
			.counsellor-homepage-content .tags .tag2{
				position: relative;
				padding: 0 0.2rem;
				color: #666;
				font-size: 13px;
			}
			.counsellor-homepage-content .tags .tag2:first-child{
				padding-left: 0;
			}
			.counsellor-homepage-content .tags .tag2:after{
				content: '|';
				position: absolute;
				right: -0.3rem;
				color: #ff8888;
				top: -0.2rem;
			}
			.counsellor-homepage-content .zixun-way-section .zixun-way .label{
				margin-bottom: 0;
			}
			.price .num{
				color: #5fd2ca;
			}
			.price .num .symbol{
				font-size: 10px;
			}
			.price img{
				width: 19px;
				height: 12px;
				vertical-align: text-bottom;
			}
			.zixun-desc{
				color: #000;
				font-size: 14px;
				padding: 0 0.5rem;
			}
			#register_next {
		        background: url(../../img/icon-btnbg.png) no-repeat;
		        background-size: 100% 100%;
		        border-color: inherit;
		        border: 0;
		        width: 60%;
		        margin: 0 auto;
		    }
		    .mui-content-padded{
		    	padding-top: 1rem;
		    }
		    .certifi{
		    	color: #666;
		    	font-size: 14px;
		    }
		    .comment-con{
		    	margin: 0.8rem 0;
		    }
		    .comment-con img{
		    	width: 24px;
		    	height: 16px;
		    }
		    .op-group{
		    	 color: #FFFFFF;
		    }
		    .bbc-bar-tab{
		    		height: 50px;
		    }
		    .bbc-bar-tab .bbc-tab-item{
		    		width: 25%;
		    		color:#333;
		    		height: 50px;
		    }
		    .bbc-bar-tab .bbc-tab-item .mui-tab-label{
		    		color: #333;
		    }
		    /*.op-group .op-group-item{
		    	color: #fff;
		    	height: 100%;
		    	line-height: 3.25rem;
		    }*/
		    /*.op-group .trade-talk{
		    	background: #41ACD9;
		    }*/
		    /*.op-group .trade-confirm{
		    	background: #41B7D9;
		    	box-shadow: 4px 4px 10px #d84f34;
		    }
		    .op-group .trade-date{
		    	background: #41C5D9; 
		    }*/
		    /*.op-group .op-group-item.col-half:after{
		    	display: none;
		    }*/
		    .qualification-block.desc{
		    	margin-bottom: 0;
		    }
			.mui-table-view .mui-media-object{
			    max-width: 72px; 
	    			height: 72px;
	    		}
	    		.mui-media-text {
	    			color: #646464;
	    			font-size: 15px;
	    		}
	    		.mui-media-author {
	    			font-size: 13px;
	    			margin-top: 5px;
	    		} 
	    		.counsellor-homepage-content{
	    			margin-bottom: 50px;
	    		}
				.btn-bg-pink {
						display: inline-block;
						border-radius: 10px;
						background: #DC635F;
						color: #fff;
						padding: 2px 0;
						margin-left: 4px;
						font-size: 12px;
				}
				.btn-bg-pink.icon-king {
						display: inline-block;
						width: 72px;
						padding-left: 18px;
						background: #DC6361 url(../../img/king.png) no-repeat 3px 6px;
						background-size: 12px 10px;
				}
				.sub-cell{
					justify-content: normal;
					align-items: normal;
				}

			.blue{
				color: #4284DE;
			}
			.orange{
				color: #F99607;
			}
			.pink{
				color: #E95759;
			}
    </style>
    
  </head>
  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">咨询师</div>
      <!--<i id="addfriend" class="header-right txt-func ">与他交流</i>-->
    </header>
    <header class="page-header nobd">
	      <div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
	      <i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
	      <h1 class="mui-center mui-title">咨询师</h1>
	      </div>
	    </header>
    <div class="counsellor-homepage-content">
			<!--咨询师详情 start-->
				<section class="container section-white counsellor-info">
					<div class="counsellor-head-content">
						<img src="https://ossimg.xinli001.com/20170823/c91ab41f014b8df7bb2e8d4df9b594ca.png!120x120" class="avatar">			
						<h2 class="teacher-name">朱志慧</h2>
						<p class="card-addrs card-ellispse">心若盛开，芬芳自来</p>
						<p class="doctor-honor card-ellispse">
							<span>住进184个人的心窝</span>
							<span class="star">好评率：99%</span>
						</p>
						<p class="doctor-address card-ellispse">
							<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
							<span>江苏-镇江 江苏.南京 上海</span>
						</p>
						<div class="zixun-time-block">
							<img class="star" src="../../img/star-y.png">
							<img class="star" src="../../img/star-y.png">
							<img class="star" src="../../img/star-g.png">
							<img class="star" src="../../img/star-g.png">
							<img class="star" src="../../img/star-g.png">
						</div>
					</div>
					<div class="doctor-sign-sublist">
						<p class="doctor-sign-item card-ellispse">
							<i class="iconfont icon-renzhengzixunshi- iconfont-icon-doctype small blue"></i>
							<span>大观心理咨询师</span>
						</p>
						<p class="doctor-sign-item card-ellispse">
							<i class="iconfont icon-renzhengjiangshi- iconfont-icon-doctype small orange"></i>
							<span>大观心理认证讲师</span>
						</p>
						<p class="doctor-sign-item card-ellispse">
							<i class="iconfont icon-xiaotuantiLeader- iconfont-icon-doctype small pink"></i>
							<span>大观心理认证小团体Leader</span>
						</p>
					</div>
					<div class="section">
						<h3 class="title">擅长</h3>
						<div class="doctor-sign-list">
							<span>两性情爱</span>
							<span>职场冲突</span>
							<span>亲自咨询</span>
						</div>
					</div>
					<div class="section">
						<div class="consult-way-section mui-clearfix">
							<div class="consult-way flex-box">
								<div class="flex-g1 con-img">
									<img src="../../img/wenzi-new.png" />
								</div>
								<div class="con-way-content">
									<span class="label">文字聊天</span>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									</p>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
											<span class="bd-vip-text">会员</span>
									</p>
								</div>	
							</div>
							<div class="consult-way flex-box">
								<div class="flex-g1 con-img">
									<img src="../../img/yuyin.png" />
								</div>
								<div class="con-way-content">
									<span class="label">语音通话</span>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									</p>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
											<span class="bd-vip-text">会员</span>
									</p>
								</div>	
							</div>
							<div class="consult-way flex-box">
								<div class="flex-g1 con-img">
									<img src="../../img/video-new.png" />
								</div>
								<div class="con-way-content">
									<span class="label">视频聊天</span>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									</p>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									</p>
								</div>	
							</div>
							<div class="consult-way flex-box">
								<div class="flex-g1 con-img">
									<img src="../../img/video-new.png" />
								</div>
								<div class="con-way-content">
									<span class="label">地面咨询</span>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									</p>
									<p class="price">
											<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
											<span class="bd-vip-text">会员</span>
									</p>
								</div>	
							</div>
							</div>
						<div class="cons-submit-options">
							<a class="cons-btn icon-heart">
								成为心窝会员
							</a>
							<a class="cons-btn icon-free-heart">
								赠送心窝会员
							</a>
						</div>
					</div>
					<div class="doct-desc-section">
						<div class="section-title art-header">
							<div class="title-txt">咨询师介绍</div>
						</div>
						<div class="desc-txt">
							<p>咨询师介绍咨询师介绍咨询师介绍咨询师介绍
							咨询师介绍咨询师介绍咨询师介绍咨询师介绍咨询
							师介绍咨询师介绍咨询师介绍咨询师介绍咨询师介
							绍咨询师介绍咨询师介绍咨询师介绍咨询师介绍咨
							询师介绍咨询师介绍咨询师介绍咨询师介绍咨询师介绍</p>
						</div>
					</div>
					<div class="doct-estimate-section">
						<div class="section-title cons-detail-sub-header">
							<div class="title-txt bg-blue-txt">评价</div>
							<div class="more-link action-webview wd2" data-webview="_www/view/category/category.html">更多&gt
							</div>
						</div>
						<div class="doct-estimate-body">
							<ul class="mui-table-view">
								<li class="list-cell mui-media action-webview" data-webview="_www/view/member/article/edit.html"  data-webparam = '{"article_id":<%= list[i].id %>}'>
									<a class="sub-cell flex-box">
										<div class="flex-g0">
											<img class="header-img40" src="../../img/60x60.gif">
										</div>
										<div class="mui-media-body content-list">
											<div class="clearfix content-sub">
												<p class="mui-pull-left uname">瑶***s<span class="btn-bg-pink icon-king">心窝会员</span></p>
												<p class="mui-pull-right utime">时间：2018-7-20</p>
											</div>
											<p class="star-item">
												<img class="star" src="../../img/star-y.png">
												<img class="star" src="../../img/star-y.png">
												<img class="star" src="../../img/star-y.png">
											</p>
											<p class='cell-desc'>很久很久之前，流传着这样一个传说：世界各地散落着七颗龙珠，只要集齐七枚龙珠</p>
										</div>
									</a>
								</li>
							</ul>	
						</div>
					</div>
					<div class="doct-article-section">
						<div class="section-title art-header">
							<div class="title-txt">相关文章</div>
							<div class="more-link action-webview wd2" data-webview="_www/view/category/category.html">更多&gt
							</div>
						</div>
						<div class="doct-article-body">
							<ul class="mui-table-view">
								<li class="list-cell mui-media action-webview" data-webview="_www/view/member/article/edit.html"  data-webparam = '{"article_id":<%= list[i].id %>}'>
									<a class="sub-cell">
										<img class="mui-media-object mui-pull-left" src="../../img/60x60.gif">
										<div class="mui-media-body">
											<h3>再见！祝好！营地结营记录</h3>
											<p class='mui-ellipsis-2 cell-desc'>很久很久之前，流传着这样一个传说：世界各地散落着七颗龙珠，只要集齐七枚龙珠</p>
											<p class="mui-ellipsis cell-desc cell-author">作者：本人</p>
										</div>
									</a>
								</li>
								<li class="list-cell mui-media action-webview" data-webview="_www/view/member/article/edit.html"  data-webparam = '{"article_id":<%= list[i].id %>}'>
									<a class="sub-cell">
										<img class="mui-media-object mui-pull-left" src="../../img/60x60.gif">
										<div class="mui-media-body">
											<h3>再见！祝好！营地结营记录</h3>
											<p class='mui-ellipsis-2 cell-desc'>很久很久之前，流传着这样一个传说：世界各地散落着七颗龙珠，只要集齐七枚龙珠</p>
											<p class="mui-ellipsis cell-desc cell-author">作者：本人</p>
										</div>
									</a>
								</li>
							</ul>	
						</div>	
						</div>
				</section>
			<!--咨询师详情 end-->
	    <!-- <section class="container section-white counsellor-info">
			<div class="counsellor-head-content">
				<img src="https://ossimg.xinli001.com/20170823/c91ab41f014b8df7bb2e8d4df9b594ca.png!120x120" class="avatar">			
				<h2 class="teacher-name">朱志慧</h2>
				<div class="zixun-time-block">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-g.png">
					<img class="star" src="../../img/star-g.png">
					<img class="star" src="../../img/star-g.png">
				</div>
			</div>
	    </section> -->
	     <!-- <section class="qualification-block">
			<div class="section">
				<h3 class="title">从业资质<span class="year">从业10年</span></h3>
				<p class="certification">国家二级咨询师 | 博士学位证书 | 博士毕业证书</p>
				<i class="icon-teacherpage-new ic-stamp"></i>
			</div>
			<div class="section">
				<h3 class="title">擅长领域</h3>
				<div class="tags">
					<span class="tag2">婚姻家庭</span>
					<span class="tag2">心理健康</span>
					<span class="tag2">亲子教育</span>
				</div>
			</div>
		</section>
		<section class="section obj qualification-block">
		    <div class="section">
		        <h3 class="title">咨询方式</h3>
		        <div class="zixun-way-section">
		            <div class="zixun-way">
		                <img src="../../img/wenzi-new.png" />
		                <span class="label">文字聊天</span>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
		                </p>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span><img src="../../img/meb.png">
		                </p>
		            </div>
		            <div class="zixun-way">
		                <img src="../../img/yuyin.png" />
		                <span class="label">语音通话</span>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
		                </p>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span><img src="../../img/meb.png">
		                </p>
		            </div>
		            <div class="zixun-way">
		                <img src="../../img/video-new.png" />
		                <span class="label">视频聊天</span>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
		                </p>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span><img src="../../img/meb.png">
		                </p>
		            </div>
		            <div class="zixun-way">
		                <img src="../../img/video-new.png" />
		                <span class="label">面对面</span>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
		                </p>
		                <p class="price">
		                    <span class="num"><em class="symbol">￥</em>600</span><span>/小时</span><img src="../../img/meb.png">
		                </p>
		            </div>
		            <div class="zixun-desc">
		                <p>心窝会员： </p>
		                <p>36.5元，365天，文字语音咨询不限次数，地面咨询￥500 /次</p>
		            </div>
		            <div class="mui-content-padded">
		                <button id="register_next" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">立即注册</button>
		            </div>
		        </div>
		</section>	
		<section class="qualification-block desc">
			<div class="section">
				<h3 class="title">咨询师介绍</h3>
				<div class="certifi">高校教育与发展心理学教师\r\n国家二级心理咨询师\r\n社区矫正特约讲师及咨询师\r\n中国心理危机干预协会会员\r\n小团体带领人\r\n生命教育导师\r\n三亩心田心理咨询顾问\r\n从业10年，致力于学校、家庭、社区积极心理教育与生命教育、家庭教育的推展。\r\n在高校开展生命教育和积极心理学的课程。\r\n深入雅安地震灾区，从事灾后心理重建、特殊学生走访以及活动教学工作。\r\n发起“不输在家庭教育上”系列读书会公益活动，并举办系列家庭教育讲座。\r\n参与自杀危机救援及抑郁症病人家属的支持工作。</div>
				<p class="comment-con">
					<img src="../../img/comment.png">
				</p>
			</div>
		</section>
		<section class="qualification-block desc">
			<div class="section">
				<h3 class="title">相关文章</h3>
				<div class="certifi">
					<ul class="mui-table-view mui-table-view-chevron">

						<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/member/article/edit.html"  data-webparam = '{"article_id":<%= list[i].id %>}'>
							<a class="mui-navigate-right">
								<img class="mui-media-object mui-pull-left" src="../../img/60x60.gif">
								<div class="mui-media-body">
									111
									<p class='mui-ellipsis mui-media-text'>222</p>
									<p class="mui-ellipsis mui-media-text mui-media-author">作者：本人</p>
								</div>
							</a>
						</li>
					  </ul>	
				</div>
				
			</div>
		</section> -->
	</div>
	<nav class="mui-bar bbc-bar-tab op-group " >
      <a class="bbc-tab-item  trade-talk" id="addfriend">
        <span class="iconfont icon-xiaoxi bbc-tab-mui-icon"></span>
        <span class="mui-tab-label">与他沟通</span>
      </a>
      <a class="bbc-tab-item" >
        <span class="iconfont icon-shijian bbc-tab-mui-icon iconfw_normal"></span>
        <span class="mui-tab-label">预约</span>
      </a>
      <a class="bbc-tab-item" >
        <span class="iconfont icon-collection bbc-tab-mui-icon iconfw_normal"></span>
        <span class="mui-tab-label ">收藏</span>
      </a>
      
      <a class="bbc-tab-item trade-date " >
        <span class="iconfont icon-calendar bbc-tab-mui-icon iconfw_normal"></span>
        <span class="mui-tab-label">咨询师日程表</span>
      </a>
   </nav>
    <!--<section class="action-bar-mini op-group mui-hidden">
        <div class="op-group-item col-half trade-talk" id="addfriend">与他沟通</a></div>
        <div class="op-group-item col-half trade-confirm" >预约</a></div>
        <div class="op-group-item col-half trade-date">咨询师日程表</a></div>
    </section>-->

  </body>
  <script src="../../js/zepto.js"></script>
  <script src="../../js/mui.min.js"></script>
  <script src="../../js/template.min.js"></script>
  <script src="../../config.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/im/webim.config.js"></script>
  <script src="../../js/im/strophe-1.2.8.js"></script>
  <script src="../../js/im/websdk-1.4.13.js"></script>
  <script src="../../js/im/im.js"></script>
  <script type="text/html" id="counsellor_info">
  	<!--咨询师详情 start-->
		<section class="container section-white counsellor-info">
			<div class="counsellor-head-content">
				<img src="<%= $add_server(avar) %>" class="avatar">			
				<h2 class="teacher-name"><%= nickname %></h2>
				<p class="card-addrs card-ellispse"><%= slogan %></p>
				<p class="doctor-honor card-ellispse">
					<span>住进 <%= trade %> 个人的心窝</span>
					<span class="star">好评率： <%= percent %></span>
				</p>
				<p class="doctor-address card-ellispse">
					<i class="iconfont icon-dizhi- iconfont-icon-doctype small gray rt1"></i>
					<span><%= shopidsnm %></span>
				</p>
				<div class="zixun-time-block">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<% if(start>8 ){%>
						<img class="star" src="../../img/star-y.png">
					<%}else{%>
						<img class="star" src="../../img/star-g.png">
					<%}%>
				</div>
			</div>
			<div class="doctor-sign-sublist">
				<p class="doctor-sign-item card-ellispse">
					<i class="iconfont icon-renzhengzixunshi- iconfont-icon-doctype small blue"></i>
					<!--<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>-->
					<span>大观心理咨询师</span>
				</p>
				
				<%if(tearch){%> 
				<p class="doctor-sign-item card-ellispse">
					<i class="iconfont icon-renzhengjiangshi- iconfont-icon-doctype small orange"></i>
					<!--<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>-->
					<span>大观心理认证讲师</span>
				</p>
				<%}%>
				<%if(leader){%>
				<p class="doctor-sign-item card-ellispse">
					<i class="iconfont icon-xiaotuantiLeader- iconfont-icon-doctype small pink"></i>
					<!--<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>-->
					<span>大观心理认证小团体Leader</span>
				</p>
				<%}%>
			</div>
			<div class="section">
				<h3 class="title">擅长</h3>
				<div class="doctor-sign-list">
					<% for(var m in signarr) { %>
						<span><%= signarr[m] %></span>
					<% }%>
					
					<!--<span>职场冲突</span>-->
					<!--<span>亲自咨询</span>-->
				</div>
			</div>
			<div class="section">
				<div class="consult-way-section mui-clearfix">
					<% for(var i=0; i<chartArr.length; i++) { %>
  						<% if(chartArr[i].status){ %>
							<div class="consult-way flex-box">
								<div class="flex-g1 con-img">
									<% if(chartArr[i].chart == 'wordchart'){ %>
										<img src="../../img/wenzi-new.png" />
									<% }else if(chartArr[i].chart == 'speechchart'){ %>
										<img src="../../img/yuyin.png" />
									<% }else if(chartArr[i].chart == 'videochart'){ %>
										<img src="../../img/face-new.png" />
									<% }else{ %>
										<img src="../../img/video-new.png" />
									<% } %>
									<!--<img src="../../img/wenzi-new.png" />-->
								</div>
								<div class="con-way-content">
									<span class="label"><%= chartArr[i].show %></span>
									<p class="price">
										<span class="num"><em class="symbol">￥</em><%= chartArr[i].price %></span><span>/小时</span>
									</p>
									<p class="price">
										<span class="num"><em class="symbol">￥</em><%= chartArr[i].price1 %></span><span>/小时</span>
										<span class="bd-vip-text">会员</span>
									</p>
								</div>	
							</div>
						<% } %>
					<% } %>	
					<!--<div class="consult-way flex-box">
						<div class="flex-g1 con-img">
							<img src="../../img/yuyin.png" />
						</div>
						<div class="con-way-content">
							<span class="label">语音通话</span>
							<p class="price">
									<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
							</p>
							<p class="price">
									<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									<span class="bd-vip-text">会员</span>
							</p>
						</div>	
					</div>
					<div class="consult-way flex-box">
						<div class="flex-g1 con-img">
							<img src="../../img/video-new.png" />
						</div>
						<div class="con-way-content">
							<span class="label">视频聊天</span>
							<p class="price">
									<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
							</p>
							<p class="price">
									<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
							</p>
						</div>	
					</div>
					<div class="consult-way flex-box">
						<div class="flex-g1 con-img">
							<img src="../../img/video-new.png" />
						</div>
						<div class="con-way-content">
							<span class="label">地面咨询</span>
							<p class="price">
									<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
							</p>
							<p class="price">
									<span class="num"><em class="symbol">￥</em>600</span><span>/小时</span>
									<span class="bd-vip-text">会员</span>
							</p>
						</div>	
					</div>-->
				</div>
				<div class="cons-submit-options">
					<% if(is_diamonds==0){ %>
						<a class="cons-btn icon-heart action-webview" data-webview="_www/view/member/updatelv.html">
							成为心窝会员
						</a>
					<% } %>
					<a class="cons-btn icon-free-heart action-webview" data-webview="_www/view/member/updatelv.html">
						赠送心窝会员
					</a>
				</div>
			</div>
			
		  <div class="doct-estimate-section">
				<div class="section-title cons-detail-sub-header">
					<div class="title-txt bg-blue-txt">评价</div>
					<div class="more-link action-webview wd2" data-webview="_www/view/counsellor/eve.html" data-webparam = '{"counsellor_id":<%= counsellor_id %>}'>更多&gt
					</div>
				</div>
				<div class="doct-estimate-body">
					<ul class="mui-table-view">
						<% for(var i in evalist) { %>
						<li class="list-cell mui-media " >
							<a class="sub-cell flex-box">
								<div class="flex-g0">
									<img class="header-img40" src="<%= $add_server(evalist[i].avar) %>" onerror="Javascript:this.src='../../img/widgets_02_19.png' ">
								</div>
								<div class="mui-media-body content-list">
									<div class="clearfix content-sub">
										<p class="mui-pull-left uname"><%= evalist[i].nickname %>
											<%if(evalist[i].is_diamonds){ %>
											<span class="cons-btn icon-bd-vip">心窝会员</span><%}%>
										</p>
										<p class="mui-pull-right utime">时间： <%= $timestamp_To_Date(evalist[i].create_time) %></p>
									</div>
									<p class="star-item">
										<img class="star" src="../../img/star-y.png">
										<img class="star" src="../../img/star-y.png">
										<img class="star" src="../../img/star-y.png">
										<img class="star" src="../../img/star-y.png">
										<% if(evalist[i].sorce>8 ){%>
											<img class="star" src="../../img/star-y.png">
										<%}else{%>
											<img class="star" src="../../img/star-g.png">
										<%}%>
									</p>
									<p class='cell-desc'><%= evalist[i].cotent %></p>
								</div>
							</a>
						</li>
						<% } %>
					</ul>	
				</div>
			</div>
			<div class="doct-article-section">
						<div class="section-title art-header">
							<div class="title-txt">相关文章</div>
							<div class="more-link action-webview wd2 " data-webview="_www/view/artical/list.html">更多&gt
							</div>
						</div>
						<div class="doct-article-body">
							<ul class="mui-table-view">
								<% for(var i in article) { %>
								<li class="list-cell mui-media action-webview" data-webview="_www/view/member/article/detail.html"  data-webparam = '{"article_id":<%= article[i].id %>}'>
									<a class="sub-cell">
										<img class="mui-media-object mui-pull-left" src="<%= $add_server(article[i].cover) %>">
										<div class="mui-media-body">
											<h3><%= article[i].title %></h3>
											<p class='mui-ellipsis-2 cell-desc'><%= article[i].description %></p>
											<p class="mui-ellipsis cell-desc cell-author">作者：本人</p>
										</div>
									</a>
								</li>
								<% } %>
							</ul>	
						</div>	
						</div>
				</section>
				
	<!--咨询师详情 end-->
  </script>
  <script type="text/html" id="counsellor_info1">
  		<section class="container section-white counsellor-info">
  			<div class="counsellor-head-content">
				<img src="<%= $add_server(avar) %>" class="avatar">			
				<!-- <% if(online==1 ){%>
					<span class="mui-badge mui-badge-green ">在线</span>
				<%}else{%>
					<span class="mui-badge mui-badge-danger ">下线</span>
				<%}%> -->
				<h2 class="teacher-name"><%= nickname %></h2>
			<!-- </div> -->
				<div class="zixun-time-block">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<img class="star" src="../../img/star-y.png">
					<% if(start>8 ){%>
						<img class="star" src="../../img/star-y.png">
					<%}else{%>
						<img class="star" src="../../img/star-g.png">
					<%}%>
					
					<!-- <p class="txt">我在大观心理温暖过<span class="times"><%= trade %></span>人次</p> -->
				</div>
			</div>
		</section>
		<section class="qualification-block">
			<div class="section tags">
				<h3 class="title">
					<span class="year">
						大观咨询师 | <%if(tearch){%>大观讲师 |<%}%><%if(leader){%>大观Leader<%}%>
					</span>
				</h3>
				<!--<p class="certification"><span class="tag2"><%= intro %></span></p>-->
				<i class="icon-teacherpage-new ic-stamp"></i>
			</div>
			<div class="section">
				<h3 class="title">擅长领域</h3> 
				<div class="tags">
					<% for(var i=0; i<sign.length; i++) { %>
					<span class="tag2"><%= sign[i] %></span>
					<% } %>
				</div>
			</div>
		</section>
		<section class="section obj  qualification-block">
			<div class="zixun-way-section">
				<% for(var i=0; i<chartArr.length; i++) { %>
  					<% if(chartArr[i].status){ %>
						<div class="zixun-way">
							<% if(chartArr[i].chart == 'wordchart'){ %>
								<img src="../../img/wenzi-new.png" />
							<% }else if(chartArr[i].chart == 'speechchart'){ %>
								<img src="../../img/yuyin.png" />
							<% }else if(chartArr[i].chart == 'videochart'){ %>
								<img src="../../img/face-new.png" />
							<% }else{ %>
								<img src="../../img/video-new.png" />
							<% } %>
							<span class="label"><%= chartArr[i].show %></span>
							<p class="price">
			                    <span class="num"><em class="symbol">￥</em><%= chartArr[i].price %></span><span>/小时</span>
			                </p>
			                <p class="price">
								<span class="num"><em class="symbol">￥</em><%= chartArr[i].price1 %></span><span>/小时</span><img src="../../img/meb.png">
			                    
			                </p>
						</div>
					<% } %>
				<% } %>	
				<div class="zixun-desc">
	                <p>心窝会员： </p>
	                <p>36.5元，365天，文字语音咨询不限次数<!--<i style="color: red;">视频咨询（7月8日开放）</i>--></p>
	            </div>
	            <div class="mui-content-padded">
	                <button id="register_next" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning action-webview" data-webview="_www/view/member/updatelv.html">升级为心窝会员</button>
	            </div>
				<!--<div class="zixun-way">
					<img src="../../img/yuying.png" />
					<span class="label">语音通话</span>
					<span class="price"><span class="symbol">￥</span><span class="num">500</span>/次</span>
				</div>
				<div class="zixun-way">
					<img src="../../img/video.png" />
					<span class="label">视频聊天</span>
					<span class="price"><span class="symbol">￥</span><span class="num">600</span>/次</span>
				</div>
				<div class="zixun-way">
					<img src="../../img/face.png" />
					<span class="label">面对面</span>
					<span class="price"><span class="symbol">￥</span><span class="num">800</span>/次</span>
				</div>-->
			</div>
		</section>
		<section class="qualification-block desc">
			<div class="section">
				<h3 class="title">咨询师介绍</h3>
				<!--<div class="certifi fontS font-gray-20">-->
				<div class="certifi intro">
					<%= intro%>
				</div>
				<p class="comment-con">
					<!--<img src="../../img/comment.png">-->
				</p>
			</div>
	  </section>
	  <section class="qualification-block desc">
			<div class="section">
				<h3 class="title">相关文章</h3>
				<div class="certifi"> 
					<ul class="mui-table-view mui-table-view-chevron">
						<% for(var i in article) { %>
							
						<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/artical/detail.html"  data-webparam = '{"article_id":<%= article[i].id %>}'>
							<a class="mui-navigate-right">
								<img class="mui-media-object mui-pull-left" src="<%= $add_server(article[i].cover) %>">
								<div class="mui-media-body">
									<%= article[i].title %>
									<p class='mui-ellipsis mui-media-text'><%= article[i].description %></p>
									<p class="mui-ellipsis mui-media-text mui-media-author">作者：<%= nickname %></p>
								</div>
							</a>
						</li>
						<% } %>
					  </ul>	
				</div>
				
			</div>
		</section>
  </script>	
  <script>
    mui.plusReady(function() {
      var counsellor_id = plus.webview.currentWebview().counsellor_id;
      var counsellor_mobile = 0;
      var state = app.getState();
      var param = {
          'method': config.apimethod.counsellor,
          'source':config.source,
          'id': counsellor_id
      }
      if(state.token){
	  	var param = {
          'method': config.apimethod.counsellor,
          'source':config.source,
          'id': counsellor_id,
          'account': state.token
          
      	}
	  }
      log(param);
      $.dataRequest(param, function(rs) { 
      	log(rs) 
      	counsellor_mobile = rs.mobile;
      	console.log(rs.avar) 
      	rs.counsellor_id = counsellor_id;
      	if(rs.isfav==1){
      		$('.addfav').addClass('isfaved')
      		$('.addfav').next('span').text('已收藏')
//    		console.log($('.addfav').next('span').text('已收藏'))
      	}
      	if(!rs.avar){
      		
      		rs.avar = '../../img/widgets_02_19.png';
      	}
//    	if(rs.intro){
//    		rs.intro = rs.intro.replace(/\r\n/g, '/n');
//    	}
      	console.log(rs)
      	var widgets = template('counsellor_info', rs);
        $('.counsellor-homepage-content').append(widgets);
        var text = $('.intro').text()
        console.log(text);
        if(text){
        		var des = text.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' ');
	        $('.intro').empty()
	        $('.intro').append(des)
        }
        
        $('.op-group').removeClass('mui-hidden')
        	 // 
         mui('.mui-scroll-wrapper').scroll({
          indicators: false
        });
      });
      $('#addfriend').on('tap',function(){
		var state = app.getState();
		if(state.token){
			var token = plus.storage.getItem('webim_'+state.account)
			var options = {
			    apiUrl: WebIM.config.apiURL,
			    user: state.account,
			    accessToken: token,
			    appKey: WebIM.config.appkey
			};
			conn.open(options);
			conn.subscribe({
                to : counsellor_mobile,
                message : "加个好友呗"
            });
            clicked('_www/view/msg/chat.html',{'jid':'2','username':counsellor_mobile})
		}else{
			mui.toast('请先登录')
		}
      })
      $('.dialog').on('click', function(){
      		//mui.alert('登陆成功','','确定',null,'div')
      })
      //查看咨询日程
      $('.trade-date').on('tap',function(){
      	clicked('_www/view/member/ondate/index.html',{counsellor_id:counsellor_id})
      })
      
      $('.addfav').on('tap',function(){
      	
		var state = app.getState();
  		if(state.token){
  			if($(this).hasClass('isfaved')){
				return;
			}
			
			var param = {
	          'method': config.apimethod.addfav,
	          'source':config.source,
	          'typeid': 0,
	          'fid': counsellor_id,
	          'account': state.token
	          
	      }
			$.dataRequest(param, function(rs) {
				$(this).addClass('isfaved');
				$('.addfav').next('span').text('已收藏')
			})
			 
  		}else{
  			mui.toast('请去登录')
  		}
      })
      //
      $(window).on('tap', '.trade-confirm', function() {
      	var state = app.getState();
      	if(state.token){
      		clicked('_www/view/checkout/index.html',{
	      		'counsellor_id':counsellor_id,
	      		'counsellor_mobile':counsellor_mobile
	      	})
      	}else{
      		//去登录 
			var faid = plus.webview.currentWebview().id;
	        clicked('_www/view/passport/login.html', {
	          'faid': faid
	        }, 'slide-in-bottom');
      	}
      	
      })
    });
  </script>
</html>
