<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/counsellor.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
    		.mui-badge{
    			margin-left: 185px!important;
		    top: 5.5rem!important;
		    position: absolute;
    		}
    </style>
    
  </head>
  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">咨询师</div>
      <!--<i id="addfriend" class="header-right txt-func ">与他交流</i>-->
    </header>
    <section class="container section-white counsellor-info">
    		<!--<div class="counsellor-homepage-content">
			<div class="brief-info">
				<div class="avatar-container">
					<span class="mui-badge mui-badge-green ">在线</span>
					<img src="https://ossimg.xinli001.com/20170823/c91ab41f014b8df7bb2e8d4df9b594ca.png!120x120" class="avatar">			
				</div>
				<h2 class="teacher-name">朱志慧</h2>
			</div>
			<div class="zixun-time-block">
				<p class="txt">我在大观心理温暖过<span class="times">95</span>人次</p>
			</div>
			<div class="qualification-block">
				<div class="section">
					<h3 class="title">从业资质<span class="year">从业10年</span></h3>
					<p class="certification">国家二级咨询师 | 博士学位证书 | 博士毕业证书</p>
					<i class="icon-teacherpage-new ic-stamp"></i>
				</div>
				<div class="section">
					<h3 class="title">擅长领域</h3>
					<div class="tags">
						<span class="tag1">婚姻家庭</span>
						<span class="tag1">心理健康</span>
						<span class="tag1">亲子教育</span>
					</div>
				</div>
				<div class="section obj" style="margin-top: 1.5rem;">
					<div class="zixun-way-section">
						<div class="zixun-way">
							<img src="../../img/wenzi.png" />
							<span class="label">文字聊天</span>
							<span class="price"><span class="symbol">￥</span><span class="num">300</span>/次</span>
						</div>
						<div class="zixun-way">
							<img src="../../img/yuying.png" />
							<span class="label">语音通话</span>
							<span class="price"><span class="symbol">￥</span><span class="num">500</span>/次</span>
						</div>
						<div class="zixun-way">
							<img src="../../img/video.png" />
							<span class="label">视频聊天</span>
							<span class="price"><span class="symbol">￥</span><span class="num">600</span>/次</span>
						</div>
						<div class="zixun-way">
							<img src="../../img/face.png" />
							<span class="label">面对面</span>
							<span class="price"><span class="symbol">￥</span><span class="num">800</span>/次</span>
						</div>
					</div>
				</div>	
			</div>
		</div>-->
		
    </section>
    <section class="action-bar-mini op-group mui-hidden">
        <div class="op-group-item col-half trade-talk" id="addfriend">与他沟通</a></div>
        <div class="op-group-item col-half trade-confirm" >立即预约</a></div>
        <div class="op-group-item col-half trade-date">咨询日程</a></div>
    </section>
  </body>
  <script src="../../js/zepto.js"></script>
  <script src="../../js/mui.min.js"></script>
  <script src="../../js/template.min.js"></script>
  <script src="../../config.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/im/webim.config.js"></script>
  <script src="../../js/im/strophe-1.2.8.js"></script>
  <script src="../../js/im/websdk-1.4.13.js"></script>
  <script src="../../js/im/im.js"></script>

  <script type="text/html" id="counsellor_info">
  	<div class="counsellor-homepage-content">
			<div class="brief-info">
				<div class="avatar-container">
					<img src="<%= $add_server(avar) %>" class="avatar">			
				</div>
				<% if(online==1 ){%>
					<span class="mui-badge mui-badge-green ">在线</span>
				<%}else{%>
					<span class="mui-badge mui-badge-danger ">下线</span>
				<%}%>
				<h2 class="teacher-name"><%= nickname %></h2>
			</div>
			<div class="zixun-time-block">
				<p class="txt">我在大观心理温暖过<span class="times"><%= trade %></span>人次</p>
			</div>
			<div class="qualification-block">
				<div class="section">
					<h3 class="title">从业资质<span class="year"><%= employment %></span></h3>
					<p class="certification"><%= intro %></p>
					<i class="icon-teacherpage-new ic-stamp"></i>
				</div>
				<div class="section">
					<h3 class="title">擅长领域</h3> 
					<div class="tags">
						<% for(var i=0; i<sign.length; i++) { %>
						<span class="tag1"><%= sign[i] %></span>
						<% } %>
						<!--<span class="tag1">心理健康</span>
						<span class="tag1">亲子教育</span>-->
					</div>
				</div>
				<div class="section obj" style="margin-top: 1.5rem;">
					<div class="zixun-way-section">
						<% for(var i=0; i<chartArr.length; i++) { %>
		  					<% if(chartArr[i].status){ %>
								<div class="zixun-way">
									<% if(chartArr[i].chart == 'wordchart'){ %>
										<img src="../../img/wenzi.png" />
									<% }else if(chartArr[i].chart == 'speechchart'){ %>
										<img src="../../img/yuying.png" />
									<% }else if(chartArr[i].chart == 'videochart'){ %>
										<img src="../../img/video.png" />
									<% }else{ %>
										<img src="../../img/face.png" />
									<% } %>
									
									<span class="label"><%= chartArr[i].show %></span>
									<span class="price"><span class="symbol">￥</span><span class="num"><%= chartArr[i].price %></span>/次</span>
								</div>
							<% } %>
						<% } %>	
						<!--<div class="zixun-way">
							<img src="../../img/yuying.png" />
							<span class="label">语音通话</span>
							<span class="price"><span class="symbol">￥</span><span class="num">500</span>/次</span>
						</div>
						<div class="zixun-way">
							<img src="../../img/video.png" />
							<span class="label">视频聊天</span>
							<span class="price"><span class="symbol">￥</span><span class="num">600</span>/次</span>
						</div>
						<div class="zixun-way">
							<img src="../../img/face.png" />
							<span class="label">面对面</span>
							<span class="price"><span class="symbol">￥</span><span class="num">800</span>/次</span>
						</div>-->
					</div>
				</div>	
			</div>
		</div>
  </script>	
  <script>
    mui.plusReady(function() {
      var counsellor_id = plus.webview.currentWebview().counsellor_id;
      var counsellor_mobile = 0;
      var param = {
          'method': config.apimethod.counsellor,
          'source':config.source,
          'id': counsellor_id
      }
      $.dataRequest(param, function(rs) {
      	log(rs) 
      	counsellor_mobile = rs.mobile;
      	if(!rs.avar){
      		rs.avar = '../../img/widgets_02_19.png';
      	}
      	var widgets = template('counsellor_info', rs);
        $('.counsellor-info').append(widgets);
        $('.op-group').removeClass('mui-hidden')
        	 // 
         mui('.mui-scroll-wrapper').scroll({
          indicators: false
        });
      });
      $('#addfriend').on('tap',function(){
		var state = app.getState();
		if(state.token){
			var token = plus.storage.getItem('webim_'+state.account)
			var options = {
			    apiUrl: WebIM.config.apiURL,
			    user: state.account,
			    accessToken: token,
			    appKey: WebIM.config.appkey
			};
			conn.open(options);
			conn.subscribe({
                to : counsellor_mobile,
                message : "加个好友呗"
            });
            clicked('_www/view/msg/chat.html',{'jid':'2','username':counsellor_mobile})
		}else{
			mui.toast('请先登录')
		}
      })
      
      //查看咨询日程
      $('.trade-date').on('tap',function(){
      	clicked('_www/view/member/ondate/index.html',{counsellor_id:counsellor_id})
      })
      //
      $(window).on('tap', '.trade-confirm', function() {
      	var state = app.getState();
      	if(state.token){
      		clicked('_www/view/checkout/index.html',{
	      		'counsellor_id':counsellor_id,
	      		'counsellor_mobile':counsellor_mobile
	      	})
      	}else{
      		//去登录 
			var faid = plus.webview.currentWebview().id;
	        clicked('_www/view/passport/login.html', {
	          'faid': faid
	        }, 'slide-in-bottom');
      	}
      	
      })
    });
  </script>
</html>
