<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/widgets.css" />
		<link rel="stylesheet" href="../../css/counsellor.css" />
    <!--<link rel="stylesheet" href="../../css/moon-style.css" />-->
    <style> 
    		.main{
    			margin-right: 10px;
    		}
    		.mui-table-view .mui-media-object{
		    max-width: 72px; 
    			height: 72px;
    		}
    		.mui-media-text {
    			color: #646464;
    			font-size: 15px;
    		}
    		.mui-media-author { 
    			font-size: 13px;
    			margin-top: 5px;
    		} 
    		.mui-media-action{
    			font-size: 13px;
    		}
    		.float-right{
    			float: right;
    		}
    		.mui-badge{
    			left: 15px;
    			top: 25px!important;
    			right: 0px!important;
    			width: 35px;
    		}
    		/*#topPopover {
			position: fixed;
			top: 33px!important;
			right: 1px;
		}
		#topPopover .mui-popover-arrow {
			left: auto;
			right: 1px;
		}
		.mui-popover {
			height: 180px;
			width: 200px;
		}
		#agency{
			font-size: 15px;
		}*/
		header{
			height: 44px;
		}
		.right-icon-search{
			position: absolute;
			left: 6rem;
			top: 6px;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 20px;
			color: red;
		}
		.bbc-pullrefresh-top{
			top: 57px;
		}
    </style>
  </head>

  <body>
    <header class="home-header">
      <div class="header-logo"><span class="iconfont icon-logo- icon-home-logo"></span></div>
      <!--<div class="main">
        <form onsubmit="return false;">
          <div class="mui-input-row header-search-form"><input type="search" onfocus="toSearch(this,'_www/view/counsellor/list.html')" class="header-search mui-input-clear" placeholder="寻找咨询师"></div>
        </form>
      </div>-->
      <div class="main">
        <form onsubmit="return false;">
          <div class="mui-input-row header-search-form">
						<input type="search"  class="header-search mui-input-clear" placeholder="寻找咨询师">
					</div>
					<a href="#" class="right-icon-search"><i class="iconfont icon-search icon-home-search"></i></a>
				</form>
      </div>
      <a href="#" ><i class="search-hide icon-func bbc-icon bbc-icon-submenu mui-action-menu"></i></a>
      <a href="#" class="txt-func search-cancel" style="display:none;">取消</a>
    </header>
     
    <div class="container">
      <div class="mui-scroll-wrapper bbc-pullrefresh-top" >
        <div class="mui-scroll">
        	<!--<div class="mui-bar-nav mui-bar-standard mui-bar-header-secondary goods-filters">
	        <div class="goods-filters-item active" data-order="">综合</div>
	        <div class="goods-filters-item" data-order="sold_quantity">销量</div>
	        <div class="goods-filters-item" data-order="price">价格 <i class="goods-filters-order order-desc"></i></div>
	        <div class="goods-filters-item" data-order="modified_time">最新</div>
	        <div id="show_style" class="goods-show-style"><i class="bbc-icon bbc-icon-gallery"></i></div>
	     </div>-->
         <div class="mui-content content-bottom-padded-nav">
         		<div class="cag-box-list"></div>
         		<div class="deskrecom-box-list"></div>
         		<div class="recom-box-list"></div>
          	  <!--情感标签 start-->
		      <section class="widgets-category-nav section-white ">
		      	<div class="section-title">
		          <div class="title-txt">咨询分类</div>
		          <div class="more-link action-webview" data-webview="_www/view/category/category.html"><i class="bbc-icon bbc-icon-forward"></i></div>
		        </div>
		        <ul class="widgets-icons-nav">
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_05.png"></a></i><span>婚姻家庭</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_07.png"></a></i><span>情绪管理</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_09.png"></a></i><span>恋爱心理</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_11.png"></a></i><span>职场心理</li>
		          	
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_17.png"></a></i><span>人际关系</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_18.png"></a></i><span>亲子教育</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_19.png"></a></i><span>个人成长</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_20.png"></a></i><span>心理健康</li>	
		        </ul>
		      </section>
		      <!--情感标签 end-->
		      
		      <!--咨询师 start-->
		      <!--<section class="widgets-category-nav section-white">
		        <div class="section-title">
		          <div class="title-txt">人气排行</div>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell mui-media">
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left" src="../../img/widgets_54.gif">
							<div class="mui-media-body">
								<p>
									<span class="mui-text-left">张医生</span>
									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
								</p>
								<p class='mui-ellipsis mui-media-text'>从业10年|中科院</p>
								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过1000人次</p>
							</div>
						</a>
					</li>
					
				  </ul>		
		        </div>
		      </section>-->
		      <!--咨询师 end-->
		      <!--<section class="widgets-category-nav section-white">
 		        <div class="section-title">
 		          <div class="title-txt">人气排行</div>
 		        </div>
 		        <div class="mui-table-view">
 		          <ul class="mui-table-view mui-table-view-chevron">
 					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":57}'>
 						<a class="mui-navigate-right"> 
 							<img class="mui-media-object mui-pull-left" src="http://47.97.97.95/">
 							<div class="mui-media-body">
 								<p>
 									<span class="mui-text-left">www</span>
 									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
 								</p>
 								<p class='mui-ellipsis mui-media-text'>从业0年|情感</p>
 								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过0人次</p>
 							</div>
 						</a>
 					</li>
 					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":}'>
 						<a class="mui-navigate-right"> 
 							<img class="mui-media-object mui-pull-left" src="http://47.97.97.95/">
 							<div class="mui-media-body">
 								<p>
 									<span class="mui-text-left">张三三</span>
 									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
 								</p>
 								<p class='mui-ellipsis mui-media-text'>从业48年|</p>
 								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过0人次</p>
 							</div>
 						</a>
 					</li>
 					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":59}'>
 						<a class="mui-navigate-right"> 
 							<img class="mui-media-object mui-pull-left" src="http://47.97.97.95/public/uploads/images/20180421/25220_141627_1876.png">
 							<div class="mui-media-body">
 								<p>
 									<span class="mui-text-left">咨询师</span>
 									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
 								</p>
 								<p class='mui-ellipsis mui-media-text'>从业0年|情感</p>
 								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过1人次</p>
 							</div>
 						</a>
 					</li>
 					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":2}'>
 						<a class="mui-navigate-right"> 
 							<span class="mui-badge mui-badge-danger"></span>
 							<img class="mui-media-object mui-pull-left" src="http://47.97.97.95/public/uploads/images/20180330/25220_145018_3415.png">
 							<div class="mui-media-body">
 								<p>
 									<span class="mui-text-left">buynow</span>
 									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
 								</p>
 								<p class='mui-ellipsis mui-media-text'>从业2年|情感</p>
 								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过19人次</p>
 							</div>
 						</a>
 					</li>
 				</ul>
 				</section>	-->
				
						<!--平台推荐 start-->
						<section class="widgets-category-nav section-white mui-hidden">
							<div class="section-title mui-list-bd-headline">
								<div class="title-txt">平台推荐</div>
								<div class="refresh-link action-webview" data-webview="_www/view/category/category.html">
									<span class="mui-icon bbc-icon bbc-icon-home icon-refresh"></span>
									<span class="mui-tab-label">换一批</span>
								</div>
							</div>
							<div class="mui-table-view">
								<ul class="mui-table-view mui-table-view-chevron ">
									<li class="mui-table-view-cell mui-media pad-rt">
											<img class="mui-media-object mui-pull-left" src="../../img/widgets_54.gif">
											<div class="mui-media-body pad-rt">
												<div class="flex flex-hb flex-dc info-detail">
														<div class="card-new-info">
															<div class="flex-box">
																<p class="card-name flex-g2 card-ellispse">1111<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small orange"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small pink"></i>
																</p>
																<p class="doctor-address flex-g1 card-ellispse">
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
																	<span>江苏-镇江</span>
																</p>
															</div>
														</div>
														<div class="doctor-sign-list">
															<span>两性情爱</span>
															<span>职场冲突</span>
															<span>亲自咨询</span>
														</div>
														<p class="card-addrs card-ellispse">心若盛开，芬芳自来</p>
														<div class="card-new-content">
																<div class="flex-box card-new-opre">
																	<p class="mui-badge mui-badge-blue flex-g1">在线</p>
																	<!-- <p class="mui-badge mui-badge-gray flex-g1">离线</p> -->
																	<p class="doctor-honor flex-g2 ">
																		<span>住进184个人的心窝</span>
																		<span class="star">好评率：99%</span>
																	</p>
																	<p class="d-icon-detail action-webview flex-g1" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>详情》</p>
																</div>
														</div>
												</div>
											</div>
									</li>
									<li class="mui-table-view-cell mui-media pad-rt">
											<img class="mui-media-object mui-pull-left" src="../../img/widgets_54.gif">
											<div class="mui-media-body pad-rt">
												<div class="flex flex-hb flex-dc info-detail">
														<div class="card-new-info">
															<div class="flex-box">
																<p class="card-name flex-g2 card-ellispse">1111<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small orange"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small pink"></i>
																</p>
																<p class="doctor-address flex-g1 card-ellispse">
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
																	<span>江苏-镇江</span>
																</p>
															</div>
														</div>
														<div class="doctor-sign-list">
															<span>两性情爱</span>
															<span>职场冲突</span>
															<span>亲自咨询</span>
														</div>
														<p class="card-addrs card-ellispse">心若盛开，芬芳自来</p>
														<div class="card-new-content">
																<div class="flex-box card-new-opre">
																	<!-- <p class="mui-badge mui-badge-blue flex-g1">在线</p> -->
																	<p class="mui-badge mui-badge-gray flex-g1">离线</p>
																	<p class="doctor-honor flex-g2 ">
																		<span>住进184个人的心窝</span>
																		<span class="star">好评率：99%</span>
																	</p>
																	<p class="d-icon-detail action-webview flex-g1" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>详情》</p>
																</div>
														</div>
												</div>
											</div>
									</li>
								</ul>		
							</div>
						</section>
						<!--平台推荐 end-->
						
						<!--人气排行 start-->
						<section class="widgets-category-nav section-white mui-hidden">
							<div class="section-title mui-list-bd-headline">
								<div class="title-txt">人气排行</div>
							</div>
							<div class="mui-table-view">
								<ul class="mui-table-view mui-table-view-chevron">
									<li class="mui-table-view-cell mui-media pad-rt">
											<img class="mui-media-object mui-pull-left" src="../../img/widgets_54.gif">
											<div class="mui-media-body pad-rt">
												<div class="flex flex-hb flex-dc info-detail">
														<div class="card-new-info">
															<div class="flex-box">
																<p class="card-name flex-g2 card-ellispse">1111<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small orange"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small pink"></i>
																</p>
																<p class="doctor-address flex-g1 card-ellispse">
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
																	<span>江苏-镇江</span>
																</p>
															</div>
														</div>
														<div class="doctor-sign-list">
															<span>两性情爱</span>
															<span>职场冲突</span>
															<span>亲自咨询</span>
														</div>
														<p class="card-addrs card-ellispse">心若盛开，芬芳自来</p>
														<div class="card-new-content">
																<div class="flex-box card-new-opre">
																	<p class="mui-badge mui-badge-blue flex-g1">在线</p>
																	<!-- <p class="mui-badge mui-badge-gray flex-g1">离线</p> -->
																	<p class="doctor-honor flex-g2 ">
																		<span>住进184个人的心窝</span>
																		<span class="star">好评率：99%</span>
																	</p>
																	<p class="d-icon-detail action-webview flex-g1" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>详情》</p>
																</div>
														</div>
												</div>
											</div>
									</li>
									<li class="mui-table-view-cell mui-media pad-rt">
											<img class="mui-media-object mui-pull-left" src="../../img/widgets_54.gif">
											<div class="mui-media-body pad-rt">
												<div class="flex flex-hb flex-dc info-detail">
														<div class="card-new-info">
															<div class="flex-box">
																<p class="card-name flex-g2 card-ellispse">1111<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small orange"></i>
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small pink"></i>
																</p>
																<p class="doctor-address flex-g1 card-ellispse">
																	<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
																	<span>江苏-镇江</span>
																</p>
															</div>
														</div>
														<div class="doctor-sign-list">
															<span>两性情爱</span>
															<span>职场冲突</span>
															<span>亲自咨询</span>
														</div>
														<p class="card-addrs card-ellispse">心若盛开，芬芳自来</p>
														<div class="card-new-content">
																<div class="flex-box card-new-opre">
																	<p class="mui-badge mui-badge-blue flex-g1">在线</p>
																	<!-- <p class="mui-badge mui-badge-gray flex-g1">离线</p> -->
																	<p class="doctor-honor flex-g2 ">
																		<span>住进184个人的心窝</span>
																		<span class="star">好评率：99%</span>
																	</p>
																	<p class="d-icon-detail action-webview flex-g1" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>详情》</p>
																</div>
														</div>
												</div>
											</div>
									</li>
								</ul>		
							</div>
						</section>
						<!--人气排行 end-->
          </div>
        </div>
      </div>
    </div>
    <!--右上角弹出菜单-->
	<div id="topPopover" class="mui-popover">
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="mui-table-view mui-table-view-radio"  id="agency">
					<!--<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							Item 1
						</a>
					</li>-->
					
				</ul>
			</div>
		</div>

	</div>
	
	<nav class="mui-bar bbc-bar-tab" >
      <a class="bbc-tab-item " data-webview="_www/view/index.html">
        <span class="iconfont icon-shouye bbc-tab-mui-icon"></span>
        <span class="mui-tab-label">首页</span>
      </a>
      <a class="bbc-tab-item bbc-active" >
        <span class="iconfont icon-zixun bbc-tab-mui-icon"></span>
        <span class="mui-tab-label">咨询</span>
      </a>
      <a class="bbc-tab-item" data-webview="_www/view/clac/index.html">
        <span class="iconfont icon-kechenghuodong- bbc-tab-mui-icon"></span>
        <span class="mui-tab-label">课程/活动</span>
      </a>
      <a class="bbc-tab-item " data-webview="_www/view/msg/index.html">
        <span class="iconfont icon-xiaoxi bbc-tab-mui-icon"><span class="mui-badge mui-badge-danger mui-hidden" id="msg-count"></span></span>
        <span class="mui-tab-label">消息</span>
      </a>
      <a class="bbc-tab-item" data-webview="_www/view/member/member.html">
        <span class="iconfont icon-wode bbc-tab-mui-icon"></span>
        <span class="mui-tab-label">我的</span>
      </a>
   </nav>
    <!--<nav class="mui-bar bbc-bar-tab">
      <a class="bbc-tab-item "  data-webview="_www/view/index.html">
        <span class="icon-home iconmoon"></span>
        <span class="mui-tab-label">首页</span>
      </a>
      <a class="bbc-tab-item bbc-active" >
        <span class="icon-consult iconmoon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
        <span class="mui-tab-label">咨询</span>
      </a>
      <a class="bbc-tab-item " data-webview="_www/view/msg/index.html">
        <span class="icon-message iconmoon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
        <span class="mui-tab-label">消息</span>
      </a>
      <a class="bbc-tab-item" data-webview="_www/view/member/member.html">
        <span class="icon-mine iconmoon"></span>
        <span class="mui-tab-label">我的</span>
      </a>
    </nav>-->
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/mui.lazyload.js"></script>
	<script src="../../js/mui.lazyload.img.js"></script>
    <script type="text/html" id="agency_list">
    		<% for(var i in list) { %>	
    			<li class="mui-table-view-cell" ><a class="mui-navigate-right" style="font-size: 12px;" val="<%= list[i].id %>"><%= list[i].title %></a></li>
      	<% } %>
    </script>
	<script type="text/html" id="widget_category">
		<section class="widgets-category-nav section-white">
	      	<div class="section-title">
	          <div class="title-txt">咨询分类</div>
	          <div class="more-link action-webview" data-webview="_www/view/category/category.html"><i class="bbc-icon bbc-icon-forward"></i></div>
	        </div>
	        <ul class="widgets-icons-nav">
	        	<li class="action-webview mui-hidden"  data-webview="_www/view/artical/list.html" data-webparam='{"cat_id":18}' ><i><a href="#"><img src="../../img/xiaolv.png"></a></i><span>高效课程</li>
        		<!--<li class="action-webview" data-webview="_www/view/artical/list.html" ><i><a href="#"><img src="../img/widgets_02_09.png"></a></i><span>免费课程</li>-->
        		<li class="action-webview mui-hidden" data-webview="_www/view/artical/list.html" ><i><a href="#"><img src="../../img/readroom.png"></a></i><span>心灵图书室</li>
	        	<% for(var i=0; i<list.length; i++) { %>
	        		<%if(i<8){%>
	          <li class="action-webview" data-webview="_www/view/counsellor/list.html" data-webparam='{"cat_id":<%= list[i].id %>}'><i><a href="#"><img src="<%= $add_server(list[i].cover) %>"></a></i><span><%= list[i].title %></li>
	       		<%}%>
	       	<% } %>
	       	<li class="action-webview  mui-hidden" data-webview="_www/view/category/category.html" ><i><a href="#"><img src="../../img/catemore.png"></a></i><span>更多分类</li>
	        </ul>
	      </section>
	</script>	
	<script type="text/html" id="widget_deskrecommend">
    <!--平台推荐 start-->
	<section class="widgets-category-nav section-white">
		<div class="section-title mui-list-bd-headline">
			<div class="title-txt">平台推荐</div>
			<div class="refresh-link" >
				<span class="mui-icon bbc-icon bbc-icon-home icon-refresh"></span>
				<span class="mui-tab-label changetag">换一批</span>
			</div>
		</div>
		<div class="mui-table-view">
			<ul class="mui-table-view mui-table-view-chevron ">
				<% for(var i=0; i<list.length; i++) { %>
				<li class="mui-table-view-cell mui-media pad-rt">
					<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].avar) %>">
					<div class="mui-media-body pad-rt">
						<div class="flex flex-hb flex-dc info-detail">
								<div class="card-new-info">
									<div class="flex-box">
										<p class="card-name flex-g2 card-ellispse"><%= list[i].nickname %>
											<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue"></i>
											<%if(list[i].tearch){%> 
												<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small orange"></i>
											<%}%>
											<%if(list[i].leader){%>
												<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small pink"></i>
											<%}%>
										</p>
										<p class="doctor-address flex-g1 card-ellispse">
											<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
											<span><%= list[i].shopname %></span>
										</p>
									</div>
								</div>
								<div class="doctor-sign-list">
									<% for(var m in list[i].signarr) { %>
										<span><%= list[i].signarr[m] %></span>
									<%}%>
								</div>
								<p class="card-addrs card-ellispse"><%= list[i].slogan %></p>
								<div class="card-new-content">
										<div class="flex-box card-new-opre">
											<% if(list[i].online==1 ){%>
												<p class="mui-badge mui-badge-blue flex-g1">在线</p>
											<%}else{%>
												<p class="mui-badge mui-badge-gray flex-g1">离线</p>
											<%}%>
											<!--<p class="mui-badge mui-badge-blue flex-g1">在线</p>-->
											<!-- <p class="mui-badge mui-badge-gray flex-g1">离线</p> -->
											<p class="doctor-honor flex-g2 ">
												<span>住进 <%= list[i].trade %> 个人的心窝</span>
												<span class="star">好评率：<%= list[i].start %></span>
											</p>
											<p class="d-icon-detail action-webview flex-g1" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>详情》</p>
										</div>
								</div>
						</div>
					</div>
				</li>
				<% } %>
			</ul>		
		</div>
	</section>
	<!--平台推荐 end-->
	</script>
	<script type="text/html" id="widget_recommend">
	<!--人气排行 start-->
	<section class="widgets-category-nav section-white ">
		<div class="section-title mui-list-bd-headline">
			<div class="title-txt">人气排行</div>
		</div>
		<div class="mui-table-view">
			<ul class="mui-table-view mui-table-view-chevron">
				<% for(var i in list) { %>
				<li class="mui-table-view-cell mui-media pad-rt">
					<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].avar) %>">
					<div class="mui-media-body pad-rt">
						<div class="flex flex-hb flex-dc info-detail">
								<div class="card-new-info">
									<div class="flex-box">
										<p class="card-name flex-g2 card-ellispse"><%= list[i].nickname %>
											<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue"></i>
											<%if(list[i].tearch){%> 
												<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small orange"></i>
											<%}%>
											<%if(list[i].leader){%>
												<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small pink"></i>
											<%}%>
										</p>
										<p class="doctor-address flex-g1 card-ellispse">
											<i class="mui-icon bbc-icon bbc-icon-home bbc-icon-doctype small blue rt1"></i>
											<span><%= list[i].shopname %></span>
										</p>
									</div>
								</div>
								<div class="doctor-sign-list">
									<% for(var m in list[i].signarr) { %>
										<span><%= list[i].signarr[m] %></span>
									<%}%>
									<!--<span>两性情爱</span>
									<span>职场冲突</span>
									<span>亲自咨询</span>-->
								</div>
								<p class="card-addrs card-ellispse"><%= list[i].slogan %></p>
								<div class="card-new-content">
									<div class="flex-box card-new-opre">
										<% if(list[i].online==1 ){%>
											<p class="mui-badge mui-badge-blue flex-g1">在线</p>
										<%}else{%>
											<p class="mui-badge mui-badge-gray flex-g1">离线</p>
										<%}%>
										<!--<p class="mui-badge mui-badge-blue flex-g1">在线</p>-->
										<!-- <p class="mui-badge mui-badge-gray flex-g1">离线</p> -->
										<p class="doctor-honor flex-g2 ">
											<span>住进 <%= list[i].trade %> 个人的心窝</span>
											<span class="star">好评率：<%= list[i].start %></span>
										</p>
										<p class="d-icon-detail action-webview flex-g1" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>详情》</p>
									</div>
								</div>
						</div>
					</div>
				</li>
				<% } %>
			</ul>		
		</div>
	</section>
	<!--人气排行 end-->
	</script>
    <script type="text/html" id="widget_recommend1">
    		<section class="widgets-category-counsellor section-white">
		        <div class="section-title">
		          <div class="title-txt">人气排行</div>
		          <div class="more-link action-webview" data-webview="_www/view/counsellor/list.html"><i class="bbc-icon bbc-icon-forward"></i></div>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
		          	<% for(var i in list) { %>
		          	
					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/counsellor/detail.html" data-webparam='{"counsellor_id":<%= list[i].memberid %>}'>
						<a class="mui-navigate-right">
							<% if(list[i].online==1 ){%>
								<span class="mui-badge mui-badge-green ">在线</span>
							<%}else{%>
								<span class="mui-badge mui-badge-danger ">下线</span>
							<%}%>	
							
							<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].avar) %>">
							<div class="mui-media-body">
								<p>
									<span class="mui-text-left"><%= list[i].nickname %></span>
									<span class="mui-text-right mui-media-action float-right mui-hidden">立即预约</span>
								</p>
								<p class='mui-ellipsis mui-media-text'><%if(list[i].tearch){%>大观讲师 |<%}%><%if(list[i].leader){%>大观Leader<%}%>|<%= list[i].sign %></p>
								<p class="mui-ellipsis mui-media-text mui-media-author">我在大观心理温暖过<%= list[i].trade %>人次</p>
							</div>
						</a>
					</li>
					<% } %>
				  </ul>		
		        </div>
		      </section>
    </script>

    <script type="text/javascript">
      mui.init({
        swipeBack: true //启用右滑关闭功能
      });
      var shopid = 0;
      var sex,online,ondate;
		//获取数据 
	  mui.plusReady(function() {
	  	//分类 
	  	var param = {
            'method': config.apimethod.category,
            'source':config.source
       }
        $.dataRequest(param, function(rs) {
        		var widgets = template('widget_category', rs);
            $('.cag-box-list').append(widgets);
            //
            //recommond
	        var aparam = {
	            'method': config.apimethod.deskrecommend,
	            'source':config.source
	        }
			
//			log(aparam) 
	        $.dataRequest(aparam, function(rt) {
	        		for (var i in rt['list']) {
	        			if(rt['list'][i].avar==''){
	        				rt['list'][i].avar = 'static/admin/img/none.png';
	        			}
	        		}
	        		var widgets = template('widget_deskrecommend', rt);
	            $('.deskrecom-box-list').append(widgets);
	            
	            	$(window).on('tap','.changetag',function(){
	            		var aparam = {
			            'method': config.apimethod.deskrecommend,
			            'source':config.source
			        }
					
		//			log(aparam) 
			        $.dataRequest(aparam, function(rt) {
			        		for (var i in rt['list']) {
			        			if(rt['list'][i].avar==''){
			        				rt['list'][i].avar = 'static/admin/img/none.png';
			        			}
			        		}
			        		var widgets = template('widget_deskrecommend', rt);
			            $('.deskrecom-box-list').html(widgets);
			        })
	            
	            	})

	        })
            //recommond
	        var aparam = {
	            'method': config.apimethod.recommend,
	            'source':config.source
	        }
//			log(aparam)
	        $.dataRequest(aparam, function(rt) {
	        		for (var i in rt['list']) {
	        			if(rt['list'][i].avar==''){
	        				rt['list'][i].avar = 'static/admin/img/none.png';
	        			}
	        		}
	        		var widgets = template('widget_recommend', rt);
//	        		console.log(widgets)
	            $('.recom-box-list').append(widgets);
	            	 // 
	             mui('.mui-scroll-wrapper').scroll({
		          indicators: false
		        });
		        
		        
	        })
        })
        
       
	  	
	  })
        
        mui('.mui-scroll-wrapper').scroll();
		mui('body').on('shown', '.mui-popover', function(e) {
			//console.log('shown', e.detail.id);//detail为当前popover元素
		});
		mui('body').on('hidden', '.mui-popover', function(e) {
			//console.log('hidden', e.detail.id);//detail为当前popover元素
		});
      $('.bbc-tab-item').on('tap', function() {
        var webview = $(this).data('webview');
        if(webview) {
          mui.openWindow({
            url: webview,
            id: webview,
            createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
            show: {
              autoShow: true, //页面loaded事件发生后自动显示，默认为true
              aniShow: 'none'
            },
            extras:{
              refresh: true
            },
            waiting: {
              autoShow: true //自动显示等待框，默认为true
            }
          });
          var openw = plus.webview.getWebviewById(webview);
          if(openw) {
            mui.fire(openw,'refresh');
          }
        }
      });

	  var form = $('input[type="search"]').parents('form');
      var sinput = $('input[type="search"]');
    	  $(form).submit(function() {
      	var search_val = $('input[type="search"]').val();
           $('.mui-content').empty();
          var param = {
	            'method': config.apimethod.category,
	            'source':config.source
	       }
	       $.dataRequest(param, function(rs) {
	        		var widgets = template('widget_category', rs);
	            $('.mui-content').append(widgets);
	            //recommond
		        var aparam = {
		            'method': config.apimethod.searchcounsellor,
		            'source':config.source,
		            'sex':sex,
		            'shopid':shopid,
		            'online':online,
		            'ondate':ondate,
		            'search_keywords':search_val
		        }
		        $.dataRequest(aparam, function(rt) {
		        		for (var i in rt['list']) {
		        			if(rt['list'][i].avar==''){
		        				rt['list'][i].avar = 'static/admin/img/none.png';
		        			}
		        		}
		        		var widgets = template('widget_recommend', rt);
		            $('.mui-content').append(widgets);
		            	 // 
		             mui('.mui-scroll-wrapper').scroll({
			          indicators: false
			        });
		        })
	        })
	       
        sinput.blur();
    	  });
	    
      window.addEventListener('getkey', function(event) {
      	 $('.mui-content').empty();
          var search_val = $('input[type="search"]').val();
          var sex = event.detail.sex||'';
          var shopid = event.detail.shopid||'';
          var online = event.detail.online||'';
          var ondate = event.detail.ondate||'';
          
          var param = {
	            'method': config.apimethod.category,
	            'source':config.source
	       }
	       $.dataRequest(param, function(rs) {
	        		var widgets = template('widget_category', rs);
	            $('.mui-content').append(widgets);
	            //recommond
		        var aparam = {
		            'method': config.apimethod.searchcounsellor,
		            'source':config.source,
		            'sex':sex,
		            'shopid':shopid,
		            'online':online,
		            'ondate':ondate,
		            'search_keywords':search_val
		        }
		        log(aparam)
		        $.dataRequest(aparam, function(rt) {
		        	log(rt)
		        		for (var i in rt['list']) {
		        			if(rt['list'][i].avar==''){
		        				rt['list'][i].avar = 'static/admin/img/none.png';
		        			}
		        		}
		        		var widgets = template('widget_recommend', rt);
		            $('.mui-content').append(widgets);
		            	 // 
		             mui('.mui-scroll-wrapper').scroll({
			          indicators: false
			        });
		        })
	        })
	       
        });
        
      var main, menu, mask = mui.createMask(_closeMenu);
        var showMenu = false,
          mode = 'menu-move';
	  function back() {
          if(showMenu) {
            //菜单处于显示状态，返回键应该先关闭菜单,阻止主窗口执行mui.back逻辑；
            closeMenu();
            return false;
          } else {
            //菜单处于隐藏状态，执行返回时，要先close菜单页面，然后继续执行mui.back逻辑关闭主窗口；
            menu.close('none');
            return true;
          }
        }
        //plusReady事件后，自动创建menu窗口；
        mui.plusReady(function() {
          main = plus.webview.currentWebview();

          //setTimeout的目的是等待窗体动画结束后，再执行create webview操作，避免资源竞争，导致窗口动画不流畅；
          setTimeout(function() {
            menu = mui.preload({
              id: '_www/view/counsellor/counsellor_aside.html', 
              url: '_www/view/counsellor/counsellor_aside.html',
              styles: {
                left: "30%",
                width: '70%',
                zindex: 9997
              }
            });
          }, 300);
        });

        /*
         * 显示菜单菜单
         */
        function openMenu() {
          if(!showMenu) {
            //解决android 4.4以下版本webview移动时，导致fixed定位元素错乱的bug;
            if(mui.os.android && parseFloat(mui.os.version) < 4.4) {
              document.querySelector("header.mui-bar").style.position = "static";
              //同时需要修改以下.mui-contnt的padding-top，否则会多出空白；
              document.querySelector(".mui-bar-nav~.mui-content").style.paddingTop = "0px";
            }

            //侧滑菜单处于隐藏状态，则立即显示出来；
            //显示完毕后，根据不同动画效果移动窗体；
            menu.show('none', 0, function() {
              switch(mode) {
                case 'main-move':
                  //主窗体开始侧滑；
                  main.setStyle({
                    left: '-70%',
                    zindex: 9999,
                    transition: {
                      duration: 150
                    }
                  });
                  break;
                case 'menu-move':
                  menu.setStyle({
                    left: '30%',
                    transition: {
                      duration: 150
                    }
                  });
                  break;
                case 'all-move':
                  main.setStyle({
                    left: '-70%',
                    transition: {
                      duration: 150
                    }
                  });
                  menu.setStyle({
                    left: '30%',
                    transition: {
                      duration: 150
                    }
                  });
                  break;
              }
            });
            //显示主窗体遮罩
            setTimeout(function() {
              var sub = plus.webview.currentWebview().children()[0];
              mui.fire(sub, 'subMaskShow', {});
            }, 100);
            setTimeout(function() {
              mask.show();
            }, 100);

            showMenu = true;
          }
        }

        function closeMenu() {
          //窗体移动
          _closeMenu();
          setTimeout(function() {
            var sub = plus.webview.currentWebview().children()[0];
            mui.fire(sub, 'subMaskClose', {});
            //关闭遮罩
          }, 100);
          setTimeout(function() {
            mask.close();
          }, 100);
        }

        function closeMask() {
          mask.close();
        }
        /**
         * 关闭侧滑菜单(业务部分)
         */
        function _closeMenu() {
          if(showMenu) {
            //解决android 4.4以下版本webview移动时，导致fixed定位元素错乱的bug;
            if(mui.os.android && parseFloat(mui.os.version) < 4.4) {
              document.querySelector("header.mui-bar").style.position = "fixed";
              //同时需要修改以下.mui-contnt的padding-top，否则会多出空白；
              document.querySelector(".mui-bar-nav~.mui-content").style.paddingTop = "44px";
            }

            switch(mode) {
              case 'main-move':
                //主窗体开始侧滑；
                main.setStyle({
                  left: '0',
                  transition: {
                    duration: 150
                  }
                });
                break;
              case 'menu-move':
                //主窗体开始侧滑；
                menu.setStyle({
                  left: '100%',
                  transition: {
                    duration: 150
                  }
                });
                break;
              case 'all-move':
                //主窗体开始侧滑；
                main.setStyle({
                  left: '0',
                  transition: {
                    duration: 150
                  }
                });
                //menu页面同时移动
                menu.setStyle({
                  left: '100%',
                  transition: {
                    duration: 150
                  }
                });

                break;
            }
            //等窗体动画结束后，隐藏菜单webview，节省资源；
            var sub = plus.webview.currentWebview().children()[0];
            mui.fire(sub, 'subMaskClose', {});
            setTimeout(function() {
              menu.hide();
            }, 300);
            showMenu = false;
          }
        }

        //点击侧滑图标，打开侧滑菜单；
        document.querySelector('.mui-action-menu').addEventListener('tap', openMenu);
        //在android4.4中的swipe事件，需要preventDefault一下，否则触发不正常
        //故，在dragleft，dragright中preventDefault
        window.addEventListener('dragright', function(e) {
          e.detail.gesture.preventDefault();
        });
        window.addEventListener('dragleft', function(e) {
          e.detail.gesture.preventDefault();
        });
        //主界面向左滑动，若菜单未显示，则显示菜单；否则不做任何操作；
        window.addEventListener("swipeleft", openMenu);
        //主界面向右滑动，若菜单已显示，则关闭菜单；否则，不做任何操作；
        window.addEventListener("swiperight", closeMenu);
        //menu页面向右滑动，关闭菜单；
        window.addEventListener("menu:swiperight", closeMenu);

        window.addEventListener('_closeMenu', _closeMenu);
        window.addEventListener('closeMask', closeMask);

        //重写mui.menu方法，Android版本menu按键按下可自动打开、关闭侧滑菜单；
        mui.menu = function() {
          if(showMenu) {
            closeMenu();
          } else {
            openMenu();
          }
        }
    </script>
  </body>

</html>
