<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/widgets.css" />
		<link rel="stylesheet" href="../../css/counsellor.css" />
    <!--<link rel="stylesheet" href="../../css/moon-style.css" />-->
    <style> 
    		.main{
    			margin-right: 10px;
    		}
    		.mui-table-view .mui-media-object{
		    max-width: 72px; 
    			height: 72px;
    		}
    		.mui-media-text {
    			color: #646464;
    			font-size: 15px;
    		}
    		.mui-media-author { 
    			font-size: 13px;
    			margin-top: 5px;
    		} 
    		.mui-media-action{
    			font-size: 13px;
    		}
    		.float-right{
    			float: right;
    		}
    		.mui-badge{
    			left: 15px;
    			top: 25px!important;
    			right: 0px!important;
    			width: 35px;
    		}
    		.mui-table-view-chevron .mui-table-view-cell{
    			padding-right:25px;
    		}
    </style>
  </head>

  <body>
    <header class="home-header">
      <div class="header-logo"><img src="../../img/newlogo.png"></div>
      <div class="main">
        <form onsubmit="return false;">
          <div class="mui-input-row header-search-form"><input type="search"  class="header-search mui-input-clear" placeholder="寻找感兴趣的文章"></div>
        </form>
      </div>
      <a href="#" class="txt-func search-cancel" style="display:none;">取消</a>
    </header>
     
    <div class="container">
      <div class="mui-scroll-wrapper bbc-pullrefresh-top" >
        <div class="mui-scroll">
         <div class="mui-content content-bottom-padded-nav">
          	  <!--情感标签 start-->
		      <section class="widgets-category-nav section-white ">
		        <!--<ul class="widgets-icons-nav mui-hidden">
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_05.png"></a></i><span>婚姻家庭</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_07.png"></a></i><span>情绪管理</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_09.png"></a></i><span>恋爱心理</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_11.png"></a></i><span>职场心理</li>
		          	
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_17.png"></a></i><span>人际关系</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_18.png"></a></i><span>亲子教育</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_19.png"></a></i><span>个人成长</li>
		          <li class="action-webview" data-webview="" data-webparam=''><i><a href="#"><img src="../../img/widgets_02_20.png"></a></i><span>心理健康</li>	
		        </ul>-->
		      </section>
		      <!--情感标签 end-->
		      <section class="widgets-category-list section-white">
		        <!--<div class="section-title">
		          <div class="title-txt">为您推荐</div>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell mui-media">
						
						<div class="mui-table">
							<div class="mui-table-cell mui-col-xs-12">
								<img class="mui-media-object mui-pull-left" src="../../img/widgets_54.gif">
								<div class="mui-media-body">
									<p>
										<span class="mui-text-left">张医生张医生张医生</span>
									</p>
									<p class='mui-ellipsis-2 mui-media-text mui-media-author'>从业10年|中科院从业10年|中科院从业10年|中科院从业10年|中科院从业10年|中科院</p>
									<p class="mui-ellipsis mui-media-text mui-media-author">作者：周工</p>
								</div>
							</div>
							
						</div>
					</li>
					
				  </ul>		
		        </div>-->
		        
		      </section>
		      
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/mui.lazyload.js"></script>
	<script src="../../js/mui.lazyload.img.js"></script>
	<script type="text/html" id="nav_list">
		<ul class="widgets-icons-nav">
		<% for(var i in data) { %>
          <li class="action-webview" data-webview="_www/view/artical/volist.html" data-webparam = '{"cat_id":<%= list[i].id %>}'><i><a href="#"><img src="<%= $add_server(data[i].cover) %>"></a></i><span><%= data[i].title %></li>
        <%}%>
        </ul>
	</script>
	
	<script type="text/html" id="artical_list">
		<div class="section-title">
	      <div class="title-txt">为您推荐</div>
	    </div>
	    <div class="mui-table-view">
	      <ul class="mui-table-view mui-table-view-chevron">
	      	<% for(var i in list) { %>
			<li class="mui-table-view-cell mui-media  action-webview" data-webview="_www/view/artical/detail.html" data-webparam = '{"article_id":<%= list[i].id %>}'>
				
				<div class="mui-table">
					<div class="mui-table-cell mui-col-xs-12">
						<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].cover) %>">
						<div class="mui-media-body">
							<p>
								<span class="mui-text-left"><%= list[i].title %></span>
							</p>
							<p class='mui-ellipsis-2 mui-media-text mui-media-author'><%= list[i].description %></p>
							<p class="mui-ellipsis mui-media-text mui-media-author">作者：<%= list[i].author %></p>
						</div>
					</div>
					
				</div>
			</li>
			<%}%>
		  </ul>		
	    </div>
	</script>	
    <script type="text/javascript">
      mui.init({
        swipeBack: true //启用右滑关闭功能
      });
      var keyword = '';
      var cat_id = '';
      mui.plusReady(function() {
		var state = app.getState();
        var wv = plus.webview.currentWebview();
        keyword = wv.keyword;
        cat_id = wv.cat_id;
        if(keyword) {
          $('input[type="search"]').val(keyword);
        }

        var form = $('input[type="search"]').parents('form');
        var sinput = $('input[type="search"]');
        $(form).submit(function() {
            keyword = $('input[type="search"]').val();
            sinput.blur();
            getclist();
         })

        
      	//分类 
	  	var param = {
            'method': config.apimethod.articalcate,
            'source':config.source
	   }
	  	$.dataRequest(param, function(rs) {
       		var widgets = template('nav_list', rs);
            $('.widgets-category-nav').html(widgets);
	    })
	  	
	  	getclist();
		function getclist(){
			var param = {
		            'method': config.apimethod.articallist,
		            'source':config.source,
		            'search_keywords': keyword, 
		            'cate_id':cat_id 
		     }
			if(!param.search_keywords){
				delete param.search_keywords
			}
			if(!param.cate_id){
				delete param.cate_id
			}
			
	        $.dataRequest(param, function(rs) {
	        		log(rs)  
	        		var widgets = template('artical_list', rs);
	            $('.widgets-category-list').append(widgets);
	            	 // 
	             mui('.mui-scroll-wrapper').scroll({
		          indicators: false
		        });
	        })
		}
	  	
	  	
    }) 
      
    </script>
  </body>

</html>
