<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/counsellor.css" />
    <style>
    
      .page-header{
				heigt: 44px;
			}
			.main {
				margin-right: 10px;
				position: relative;
			}
			.mui-bar .mui-title {
				width: auto;
				left: 40px;
				right: 52px;
				top: 7px;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}
    </style>
  </head>

  <body>

	 <header class="home-header">
			<div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
   		 	<i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
			<div class="mui-center mui-title">
				<form onsubmit="return false;">
				<div class="mui-input-row header-search-form">
					<input type="search"  class="header-search mui-input-clear" placeholder="寻找感兴趣的文章">
				</div>
				<a href="#" class="right-icon-search"><i class="iconfont icon-search icon-home-search"></i></a>
			</form>
			</div>
		    	<a class="mui-right  mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
		    		<img src="../../img/tel.png">
		    		<i class="search-hide icon-func bbc-icon callmm">客服</i>
		    	</a>
			</div>
    </header>
      <!--<header class="home-header">
        <i class="icon-func bbc-icon bbc-icon-back mui-action-back"></i>
        <div class="main">
          <form onsubmit="return false;">
            <div class="mui-input-row header-search-form ">
              <input type="search" class="header-search mui-input-clear " placeholder="寻找感兴趣的文章">
            </div>
          </form>
        </div>
        <p class="service">
          <img src="../../img/tel.png">
          <i class="search-hide icon-func bbc-icon callmm">客服</i>
        </p>
      </header>-->
      
    
    <div class="mui-content container">

    </div>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    
    <script>
      mui.plusReady(function() {
        var wv = plus.webview.currentWebview();
        var keyword = wv.keyword;
        var cat_id = wv.cat_id;
        if(keyword) {
          $('input[type="search"]').val(keyword);
        }

        var contentWebview = null;
        var hlist = localStorage.getItem('_history');
        var form = $('input[type="search"]').parents('form');
        var sinput = $('input[type="search"]');
        $(form).submit(function() {
          var search_val = $('input[type="search"]').val();
          if(hlist != null) {
            var list = hlist.split(",");
          }
          var flag = true;
          if(search_val != '') {
            if(hlist != null) {
              for(var i = 0; i < list.length; i++) {
                if(list[i] == search_val) {
                  flag = false;
                }
              }
            }
            if(flag == true) {
              if(hlist != null) {
                hlist += (search_val + ',');
                localStorage.setItem('_history', hlist);
              } else {
                localStorage.setItem('_history', search_val + ',');
              }
            }
            if(contentWebview == null) {
              contentWebview = plus.webview.currentWebview().children()[0];
            }
            mui.fire(contentWebview, 'getlist', {
              'search_keywords': search_val,
              'cat_id':cat_id
            })
            sinput.blur();
          }
        });
        

        mui.init({
          swipeBack: false,
          subpages: [{
            url: '_www/view/artical/artical_list.html',
            id: '_www/view/artical/artical_list.html',
            styles: {
              top: '45px',
              bottom: '0px'
            }
          }]
        });

      });
    </script>
  </body>

</html>
