<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../css/widgets.css" />
    <style>
    		.bbc-tab-nav-sm{
    			width:100%
    		}
    		.bbc-tab-nav.mui-segmented-control{
    			border-color: #00C7C9;
    		}
    		.bbc-tab-nav.mui-segmented-control .mui-control-item.mui-active {
		    background: #00C7C9;
		}
		.bbc-tab-nav.mui-segmented-control .mui-control-item {
		    border-color: #00C7C9;
		    color: #00C7C9;
		}
    </style>
  </head>

  <body>
    <header class="mui-bar-nav page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">
        <div style="padding: 10px 10px;">
          <div id="segmentedControl" class="mui-segmented-control bbc-tab-nav bbc-tab-nav-sm">
            <a class="mui-control-item  fonts" webview="_www/view/member/fav/index.html">咨询师</a>
            <a class="mui-control-item mui-active fonts" >课程/活动</a>
            <a class="mui-control-item fonts" webview="_www/view/member/fav/article.html">文章</a>
          </div>
        </div>
      </div>
    </header>
    <div class="mui-content">
    		
    </div>
	<script src="../../../js/zepto.js"></script>
    <script src="../../../js/mui.min.js"></script>
    <script src="../../../js/template.min.js"></script>
    <script src="../../../config.js"></script>
    <script src="../../../js/app.js"></script>
    <script type="text/html" id="fav_list">
        <section class="widgets-category-counsellor section-white">
	        <% if(list){%>
	        <div class="mui-table-view">
	          <ul class="mui-table-view mui-table-view-chevron">
	          	<% for(var i=0; i<list.length; i++) { %>
				<li class="mui-table-view-cell mui-media ">
					<div class="mui-slider-right mui-disabled">
			          <a data-id="<%= list[i].id %>" data-type="<%= list[i].typeid %>" class="action-del mui-btn mui-btn-red"><i class="bbc-icon bbc-icon-remove"></i></a>
			        </div>
			        <div class="mui-slider-handle">
						<a class="action-webview"  data-webview="_www/view/clac/detail.html" data-webparam='{"acid":<%= list[i].id %>,"actype":<%= list[i].typeid %>}'>
							<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].pic) %>" >
							<div class="mui-media-body">
								<p>
									<span class="mui-text-left"><%= list[i].title %></span>
								</p>
								<i style="color: #D84F34;font-size: 10px;">(左滑可取消收藏)</i>
							</div>
						</a>
					</div>
				</li>
				<% } %>
			  </ul>		
	        </div>
	        <% } %>
		</section>
    </script>
    <script type="text/javascript" charset="utf-8">
    
	mui.plusReady(function() {
		var state = app.getState();
      	//分类 
	  	var param = {
            'method': config.apimethod.favlist,
            'source':config.source,
            'typeid': 1,
            'account': state.token
      }
       $.dataRequest(param, function(rs) {
       		var rt = {};
       		if(rs){
       			rt = {
       				'list':rs
       			}
       		}
       		var widgets = template('fav_list', rt);
            $('.mui-content').append(widgets);
            //事件注册
            $('#segmentedControl').on('tap', '.mui-control-item', function() {
            		var href = $(this).attr('webview')
            		if(href){
            			plus.webview.open(href);
	            		setTimeout(function(){
	            			plus.webview.currentWebview().close('none')
	            		},2000)
            		}
            		
            })
            
            //注册删除
            $(window).on('tap', '.action-del', function() {
            		var that = $(this);
		        mui.confirm('确认删除该条课程/活动吗？', '确认提示', function(e) {
		          if(e.index == 1) {
		          	var id = that.data('id');
		          	var type = that.data('type');
		          	var param = {
			          'method': config.apimethod.delfav,
			          'source':config.source,
			          'typeid': type,
			          'fid': id,
			          'account': state.token
			          
			      	}
					log(param) ;
					$.dataRequest(param, function(rs) {
						that.parents('li').remove();
              			mui.toast('移除成功');
					})
					
		          }
		        
		        })
            })
       })
    }) 
      
    </script>
  </body>

</html>
