<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>成为心窝会员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/member.css">
    <style type="text/css">
      .section-white{
        background: #fff;
        padding: 2rem 1rem;
		margin-bottom: 2rem;
      }
      
      .counsellor-head-content{
        height: 10.5rem;
        width: 100%;
      }
      .counsellor-head-content img.top-img{
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body>
	<header class="page-header nobd">
		<div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
			<i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
			<h1 class="mui-center mui-title">成为心窝会员</h1>
			<a class="mui-right  mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
				<img src="../../img/tel.png">
				<i class="search-hide icon-func bbc-icon callmm">客服</i>
			</a>
		</div>
	</header>
    <section class="container member-apply-body">
      <!--<form class="" id="login_form">-->
        <div class="counsellor-head-content">
			<img class="top-img" src="../../img/xinwo_02.png">
			<div class="mui-member-group section-white">
				<h4>让您的朋友拥有心灵密友</h4>
				<p class="title">TA将拥有</p>
				<div class="content-list">
					<p> 1、线上200+咨询师贴心服务</p>
					<p> 2、不限次数、不限时数，任选咨询师，想选谁就选谁。</p>
					<p> 3、丰富心理内容知识库，心理美文、文理课程等一应俱全。</p>
					<p> 3、会员价格的地面咨询、视频咨询</p>
				</div>
			  
				<div class="apply-form">
					<div class="pay-body">
						<div class="pay-options">
							<p>周付费</p>
							<span><i>￥</i>7</span>
						</div>
						<div class="pay-options year on">
							<p>年付费</p>
							<span><i>￥</i>36.5</span>
						</div>
					</div>
					<div class="mui-input-group apply mui-hidden">
						<div class="mui-input-row">
							<label>朋友昵称：</label>
							<input type="text" id="nickname" class="mui-input-clear" placeholder="请输入文字">
						</div>
						<div class="mui-input-row">
							<label>升级账号：</label>
							<input type="text" id="account" class="mui-input-clear" placeholder="请输入手机号">
						</div>
						
					</div>
					<div class="mui-button-row btn-options">
						<button class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning" id="createTrade">立即支付</button>
					</div>
				</div>
			</div>
			<!-- <div class="mui-member-group section-white member-give">
				<h4>您收到<span class="violet">【涂】</span>赠送的心窝会员</h4>
				<p class="sub-title">您的电话号码注册即可成为心窝会员</p>
				<p class="title">您将拥有</p>
				<div class="content-list">
					<p> 1、线上<span class="red">200+</span>咨询师贴心服务</p>
					<p> 2、不限次数、不限时数，任选咨询师，想选谁就选谁。</p>
					<p> 3、丰富心理内容知识库，心理美文、文理课程等一应俱全。</p>
					<p> 3、会员价格的地面咨询、视频咨询</p>
				</div>
			
				<div class="apply-form">
					<div class="pay-body">
						<div class="qr-code-img">
							<img class="mui-media-object" src="../../img/60x60.gif">
							<span class="qr-code-txt">长按保存二维码</span>
						</div>
					</div>
					<div class="qr-code-content">
						<p>扫描二维码下载大观心理APP</p>
						<p>即刻拥有心灵密友</p>
					</div>
				</div>
			</div> -->
		</div>
        
      <!--</form>-->
      
      
      
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      mui.init({
        swipeBack: true, //启用右滑关闭功能
      });
      mui.plusReady(function() {
      	var type = plus.webview.currentWebview().type;
      	if(type == 1){
      		$('.mui-title').html('升级心窝会员')
      	}else{
      		$('.mui-title').html('赠送心窝会员')
      	}
      	
      	$('.pay-options').on('tap',function(){
      		$(this).addClass('on').siblings().removeClass('on')
      	})
      	//提交
			$('#createTrade').on('tap', function(e) {
				var state = app.getState();
				var price = 7;
				if($('.year').hasClass('on')){
					price = 36.5;
				}

				if(type==1){//升级
					var param = {
					  'method': config.apimethod.createTrade,
					  'source':config.source,
					  'counsellor_id': 0,
					  'price': price,
					  'chart': '',
					  'num': 1,
					  'pertime':0,
					  'type':type,
					  'account': state.token
					}
					
				}else{
					var account = $('#account').val()
					var nickname = $('#nickname').val()
					if(!account){
						mui.toast('请填写待升级账号');return false;
					}
					if(!nickname){
						mui.toast('请填写朋友昵称');return false;
					}
					var param = {
					  'method': config.apimethod.createTrade,
					  'source':config.source,
					  'counsellor_id': 0,
					  'price': price,
					  'chart': '',
					  'num': 1,
					  'pertime':0,
					  'type':type,
					  'account': state.token,
					  'username':account,
					  'nm':nickname
					}
				}
				clicked('_www/view/member/share.html')
				log(param);return ;
				w=plus.nativeUI.showWaiting();
				$.dataRequest(param, function(rm) {
					 w.close();w=null;
					mui.toast('订单创建成功！');
					clicked('_www/view/checkout/payment.html',{
						'price':price, 
						'tid':rm.tid,
						'paytype':type
					});
				})
				//判断是否为会员 
//				var param = {
//			          'method': config.apimethod.userinfo,
//			          'account': account,
//			          'source':config.source
//			     }
//			     $.dataRequest(param, function(rs) {
//			     	
//					//price chart accout counsellor_id
//					var param1 = {
//					  'method': config.apimethod.createTrade,
//					  'source':config.source,
//					  'counsellor_id': 0,
//					  'price': 36.5,
//					  'chart': '',
//					  'num': 1,
//					  'pertime':0,
//					  'type':type,
//					  'account': rs.id
//					}
//					w=plus.nativeUI.showWaiting();
//					$.dataRequest(param1, function(rm) {
//						 w.close();w=null;
//						mui.toast('订单创建成功！');
//						clicked('_www/view/checkout/payment.html',{
//							'price':36.5, 
//							'tid':rm.tid,
//							'counsellor_mobile':rs.mobile,
//							'paytype':1
//						});
//					})
//					
//				})
				
			})
      })
    </script>
  </body>

</html>
