<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/member.css">
	<link href="../../css/mui.picker.css" rel="stylesheet">
	<link href="../../css/mui.poppicker.css" rel="stylesheet">
	<link href="../../css/mui.dtpicker.css" rel="stylesheet">
    <style type="text/css">
      .section-white{
        background: #fff;
      }
		.container {
			margin-top: -1px;
		}
      
      .counsellor-head-content{
        height: 10.5rem;
        width: 100%;
      }
      .counsellor-head-content img.top-img{
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body class="section-white">
	<header class="page-header nobd">
		<div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center clearfix">
			<i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
			<h1 class="mui-center mui-title">用户注册</h1>
			<a class="mui-right mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
				<img src="../../img/tel.png">
				<i class="search-hide icon-func bbc-icon callmm">客服</i>
			</a>
		</div>
	</header>
    <section class="container member-signup-body">
      <!--<form class="" id="login_form">-->
        <div class="member-content">
			<div class="user-form">
				
				<div class="mui-input-group signup">
					<!--signup-step1 start-->
					<div class="mui-input-row">
						<label>姓名：<i class="icon-required">*</i></label>
						<input type="text" class="mui-input-clear" placeholder="请输入姓名">
					</div>
					<div class="mui-input-row">
						<label>邮箱：<i class="icon-required">*</i></label>
						<input type="text" class="mui-input-clear" placeholder="请输入邮箱">
					</div>
					<div class="mui-input-row">
						<label>手机：<i class="icon-required">*</i></label>
						<input type="text" class="mui-input-clear" placeholder="请输入手机">
					</div>
					<div class="mui-input-row">
						<label>密码：<i class="icon-required">*</i></label>
						<input type="password" class="mui-input-password" placeholder="请输入密码">
					</div>
					<div class="mui-button-row btn-options">
						<button class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">下一步</button>
					</div>
					<!--signup-step1 end-->
					
					<!--submit-step2 start-->
					<div class="mui-input-row">
						<label>姓名：</label>
						<input type="text" class="mui-input-clear" placeholder="请输入姓名">
					</div>
					<div class="mui-input-row">
						<label>邮箱：</label>
						<input type="text" class="mui-input-clear" placeholder="请输入邮箱">
					</div>
					<div class="mui-input-row">
						<label>手机：</label>
						<input type="text" class="mui-input-clear" placeholder="请输入手机">
					</div>
					<div class="mui-input-row">
						<label>密码：</label>
						<input type="password" class="mui-input-password" placeholder="请输入密码">
					</div>
					<p class="signup-tip-msg">
						为了更好的为您服务，请填写以下消息，放心，您的所有消息我们都将为您保密，您可参看下方的咨询协议。
					</p>
					<div class="mui-input-row">
						<label>性别：</label>
						<input type="text" id="showSexPicker" class="mui-input-clear" placeholder="请选择性别">
					</div>
					<div class="mui-input-row">
						<label>出生日期：</label>
						<input type="text" id="showBirthdayPicker" data-options='{"type":"date"}' class="mui-input-clear" placeholder="请选择出生日期">
					</div>
					<div class="mui-input-row">
						<label>学历：</label>
						<input type="text" class="mui-input-clear" placeholder="请选择学历">
					</div>
					<div class="mui-input-row">
						<label>年级：</label>
						<input type="text" class="mui-input-clear" placeholder="请选择年级">
					</div>
					<div class="mui-input-row">
						<label>职业：</label>
						<input type="text" class="mui-input-clear" placeholder="请选择职业">
					</div>
					<div class="mui-input-row">
						<label>婚姻：</label>
						<input type="text" class="mui-input-clear" placeholder="请选择婚姻">
					</div>
					<div class="mui-input-row">
						<label>省/市：</label>
						<input type="text" id="showCityPicker" class="mui-input-clear" placeholder="请选择省市">
					</div>
					<div class="mui-input-row">
						<label>紧急联系人：</label>
						<input type="text" class="mui-input-clear" placeholder="请输入紧急联系人">
					</div>
					<div class="mui-input-row">
						<label>是否接收过心理咨询：</label>
						<input type="text" class="mui-input-clear" placeholder="请选择是否">
					</div>
					<div class="mui-input-row">
						<label>时间：</label>
						<input type="text" class="mui-input-clear" placeholder="请选择时间">
					</div>
					<div class="mui-button-row btn-options clearfix">
						<div class="mui-input-row mui-radio mui-left lb-tip">
							<div class="label">我已阅读且同意<a id="agreement">咨询协议</a></div>
							<input name="radio1" type="radio">
						</div>
						<button class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">提交</button>
					</div>
					<!--submit-step2 end-->
				</div>
				
				<!--signup-concern start-->
				<div class="concern-body">
					<h4>您的关注点：</h4>
					<ul class="widgets-icons-nav clearfix">
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#">
								<div class="sub-nav"><img src="../../img/widgets_02_05.png"></div><span>婚姻家庭</span>
							</a>
						</li>
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#">
								<div class="sub-nav"><img src="../../img/widgets_02_07.png"></div><span>情绪管理</span>
							</a>
						</li>
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#" class="on">
								<div class="sub-nav"><img src="../../img/widgets_02_09.png"></div><span>恋爱心理</span>
							</a>
						</li>
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#" class="on">
								<div class="sub-nav"><img src="../../img/widgets_02_11.png"></div><span>职场心理</span>
							</a>
						</li>
							
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#">
								<div class="sub-nav"><img src="../../img/widgets_02_17.png"></div><span>人际关系</span>
							</a>
						</li>
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#">
								<div class="sub-nav"><img src="../../img/widgets_02_18.png"></div><span>亲子教育</span>
							</a>
						</li>
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#">
								<div class="sub-nav"><img src="../../img/widgets_02_19.png"></div><span>个人成长</span>
							</a>
						</li>
						<li class="action-webview" data-webview="" data-webparam=''>
							<a href="#">
								<div class="sub-nav"><img src="../../img/widgets_02_20.png"></div><span>心理健康</span>
							</a>
						</li>	
					</ul>
				</div>
				<div class="mui-button-row btn-options">
					<button class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">下一步</button>
				</div>
				<!--signup-concern end-->
			</div>
			<div class="mui-message-container clearfix" style="display: none;">
				<span class="mui-message-closed">X</span>
				<div class="mui-message-cont appointment">
					<p class="title">咨询协议：</p>
					<div class="options">
						<p>1.请注意咨询师的咨询的地点</p>
						<p>2.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
						<p>3.请注意咨询师的咨询的地点</p>
					</div>
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>我已阅读</label>
					<input name="radio1" type="radio">
				</div>
			</div>
			<div class="mui-backdrop" style="opacity: 1;display: none;"></div>
		</div>
        
      <!--</form>-->
      
      
      
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
	<script src="../../js/mui.picker.js"></script>
	<script src="../../js/mui.poppicker.js"></script>
	<script src="../../js/mui.dtpicker.js"></script>
	<script src="../../js/city.data.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
			$(function() {
				//性别
				var userPicker = new mui.PopPicker();
				userPicker.setData([{
					value: '0',
					text: '不明'
				}, {
					value: '1',
					text: '男'
				}, {
					value: '2',
					text: '女'
				}]);
				var showSexPickerButton = document.getElementById('showSexPicker');
				showSexPickerButton.addEventListener('tap', function(event) {
					userPicker.show(function(items) {
						console.log(items[0].text);
						document.getElementById('showSexPicker').value=items[0].text;
					});
				}, false);
				//省市
				var cityPicker = new mui.PopPicker({
					layer: 2
				}); 
				cityPicker.setData(cityData);
				var showCityPickerButton = document.getElementById('showCityPicker');
				showCityPickerButton.addEventListener('tap', function(event) {
					cityPicker.show(function(items) {
						console.log("你选择的城市是:" + items[0].text + "/" + items[1].text);
						document.getElementById('showCityPicker').value=items[0].text + "/" + items[1].text;
					});
				}, false);
				
				var showBirthdayPickerButton = document.getElementById('showBirthdayPicker');
				showBirthdayPickerButton.addEventListener('tap', function() {
					var optionsJson = this.getAttribute('data-options') || '{}';
					var options = JSON.parse(optionsJson);
					var id = this.getAttribute('id');
					var picker = new mui.DtPicker(options);
					picker.show(function(rs) {
						document.getElementById('showBirthdayPicker').value=rs.text;
						picker.dispose();
					});
				}, false);
				
				$('#agreement').on('click',function(e){
					e.stopPropagation();
					
					$('.mui-message-container,.mui-backdrop').show();
				})
				
				$('.mui-message-closed').on('click',function(){
					$('.mui-message-container,.mui-backdrop').hide();
				});
			});
		
      mui.init({
        swipeBack: true, //启用右滑关闭功能
      });
      mui.plusReady(function() {
      	var type = plus.webview.currentWebview().type;
      	if(type == 1){
      		if(app.getState().token){
      			document.getElementById("account").value = app.getState().account;
      		}
      		$('.header-title').html('升级心窝会员')
      	}else{
      		$('.header-title').html('赠送心窝会员')
      	}
      	//提交
			$('#createTrade').on('tap', function(e) {
				var account = $('#account').val()
				if(!account){
					mui.toast('请填写待升级账号');return false;
				}
				//判断是否为会员 
				var param = {
			          'method': config.apimethod.userinfo,
			          'account': account,
			          'source':config.source
			     }
			     $.dataRequest(param, function(rs) {
			     	
					//price chart accout counsellor_id
					var param1 = {
					  'method': config.apimethod.createTrade,
					  'source':config.source,
					  'counsellor_id': 0,
					  'price': 36.5,
					  'chart': '',
					  'num': 1,
					  'pertime':0,
					  'type':type,
					  'account': rs.id
					}
					w=plus.nativeUI.showWaiting();
					$.dataRequest(param1, function(rm) {
						 w.close();w=null;
						mui.toast('订单创建成功！');
						clicked('_www/view/checkout/payment.html',{
							'price':36.5, 
							'tid':rm.tid,
							'counsellor_mobile':rs.mobile,
							'paytype':1
						});
					})
				})
				
			})
      })
    </script>
  </body>

</html>
