<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css" />
  </head>

  <body>
    <!--<header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">修改性别</div>
    </header>-->
    <header class="page-header nobd">
	      <div class="mui-navbar-inner mui-bar mui-bar-nav mui-navbar-center">
	      <i class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left bbc-icon bbc-icon-back"></i>
	      <h1 class="mui-center mui-title">修改性别</h1>
	      </div>
	    </header>
    <section class="container">
      <div class="form-container">
        <ul class="section-white mui-table-view mui-table-view-radio bbc-radio">
          <li class="mui-table-view-cell" data-value="0">
            <a class="mui-navigate-right" >
              女
            </a>
          </li>
          <li class="mui-table-view-cell" data-value="1">
            <a class="mui-navigate-right">
              男
            </a>
          </li>
          <li class="mui-table-view-cell" data-value="2">
            <a class="gender-items mui-navigate-right">
              保密
            </a>
          </li>
        </ul>
        <section class="mui-content-padded form-op-section">
          <button id="save" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning" style="background: #4883DD;border: #4883DD;">保存</button>
        </section>
      </div>
    </section>
    <script src="../../../js/zepto.js"></script>
    <script src="../../../js/mui.min.js"></script>
    <script src="../../../js/template.min.js"></script>
    <script src="../../../config.js"></script>
    <script src="../../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      var state = app.getState();

      var param = {
        'method': config.apimethod.userinfo,
          'account': state.account,
          'source':config.source
      }
      $.dataRequest(param, function(rs) {
        var data = rs;
        $('.mui-table-view-cell').each(function(index, item) {
          if(item.dataset.value == data.sex) {
            $(item).addClass('mui-selected');
          }
        });
      });

      var gender;
      document.querySelector('.mui-table-view.mui-table-view-radio').addEventListener('selected',function(e){
        gender = e.detail.el.dataset.value;
      });

      document.getElementById('save').addEventListener('tap', function() {
        if( gender ){
          var param = {
              'method': config.apimethod.updategender,
              'account': state.account,
          		'source':config.source,
              'sex': gender
          }

          $.dataRequest(param, function(rs) {
            var data = rs;
            mui.toast('更新成功');
            var parent = plus.webview.getWebviewById('_www/view/member/setting.html');
            
            parent.reload();
            parent.onloaded = function(){
              mui.back();
            }
          });
        }else{
          mui.back();
        }
      });
    </script>
  </body>

</html>
